						/*            1000px Screen Start        */

@media only screen and (max-width: 1000px){

	#wrapper{overflow: hidden;}

	.search{
		display: block !important;
		min-width: 0 !important;
		width:100%;
		padding-right: 53px;
		margin:10px 0 0 0 !important;
	}

	input[type="search"]{padding:0 5px 0 40px;}

	.search input[type="submit"]{width:40px;}

	.top-header .frame{
		text-align: center;
		padding:10px;
	}

	.navigation{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		overflow-y: auto;
		padding-top:45px;
		visibility: hidden;
		opacity: 0;
		background-color: #3e474f;
		z-index: 9999999999;
		-webkit-transform:scale(.9,.9);
		-moz-transform:scale(.9,.9);
		transform:scale(.9,.9);
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
	}

	.navigation.active{
		visibility: visible;
		opacity: 1;
		-webkit-transform:scale(1,1);
		-moz-transform:scale(1,1);
		transform:scale(1,1);
	}

	.navigation > ul > li{
		display: block;
		margin:0;
		border-bottom:1px solid #2f363e;
	}
	.navigation > ul > li:first-child{border-top:1px solid #2f363e;}

	.navigation > ul > li > a{
		position: relative;
		text-align: right;
		padding:12px 15px;
	}

	.navigation a.close{
		top:10px;
		left:auto;
		right:10px;
		display: block;
		border-radius: 2px;
	}

	.navigation .menu-title{
		position: absolute;
		top:15px;
		left:15px;
		display: block;
		font-size: 13px;
		color:#5cb860;
		z-index: 10;
	}

	.megamenu{
		position: relative;
		right:auto;
		display: none;
	    padding:15px 0;
	    opacity: 1;
	    visibility: visible;
	    background: #ffffff !important;
	    border-radius: 0;
	    z-index: 1;
	    -webkit-animation: none !important;
	    -ms-animation: none !important;
	    animation: none !important;
	}

	.megamenu-bttn{
		position: absolute;
		top:0;
		left:0;
		width:45px;
		height: 100%;
		background: url('../images/assets/arrow-bottom.png') no-repeat center #5cb860;
		z-index: 99;
	}

	.menu-box{
		display: block;
		min-height: 0;
		padding:5px 10px;
	}

	.menu-box h5{margin-bottom: 12px;}

	.logo{
		display: inline-block;
		position: relative;
		top:auto;
		margin-bottom: 10px;
	}

	.cart{
		margin-top:24px;
		margin-right: 7px !important;
	}

	.login-status{
		display: block !important;
		text-align: center;
	}

	.my-account{
		display: block;
		width:100%;
		padding:7px 10px 5px 10px;
	}

	.my-account img{
		position: relative;
		top:auto;
		right:auto;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0 10px;
	}

	.login-status a.bttn{
		width:49% ;
		margin-top:4px;
	}

	.login-status a.bttn.overlay-bttn{width:100%;}

	.search-result{padding:7px 10px;}

	.ms-partialview-template{min-height: 0;}
	.countdown-box-wrapper{border-radius: 0;}
	.countdown-box{height: 50px;}
	.countdown-box h6{font-size: 12px;}
	.countdown-box span{
		font-size: 18px;
		padding-top:5px;
	}

	.ms-partialview-template .ms-slide-info{
		padding:14px 12px 12px 12px; 
		margin-top:9px;
	}

	.price-box strong{font-size: 17px;}
	.off-price{font-size: 12px !important}

	.section-box{margin-bottom: 15px;}
	.countdown-box .button-holder{margin-top:0;}
	.owl-carousel .owl-stage-outer{padding:21.5px 0px;}
	.magazine-listing{padding:10px 10px 0 10px !important;}
	.footer{padding:20px 0;}
	.footer-box,
	.sitemap{
		float: none !important;
		width:100% !important;
		text-align: center;
		min-height: 0;
	}

	.magazine-box{
		max-width: 400px;
		margin:0 auto 10px auto;
	}

	.footer-box:nth-child(1) {
	    margin: 10px 0 20px 0;
	    border-bottom: 1px solid #2f363e;
	}
	.footer-box ul{margin-bottom: 20px;}

	.symbols img{
		display: inline-block;
		vertical-align: top;
	}
	.symbols img:first-child{height: auto !important;}
	.footer-contact-info .left-floated,
	.footer-contact-info .right-floated{
		display: block;
		float: none;
	}
	.footer-contact-info .green-color{display: block;}
	.tel-number{
		display: inline-block;
		float: none;
		margin-top:5px;
	}

	.copyright {
	    font-size: 11px;
	    margin-top: 8px !important;
	}

	.post-stats{margin-top:0;}

	.static-box{
		min-height: 0;
		padding:0;
	}

	.my-page-wrapper{
		padding:15px;
		margin-top:15px;
	}
	.my-account-box ul li > strong{width:90px;}
	.my-page-sidebar li a{padding:10px 5px;}
	.my-account-box ul li{margin:10px 0;}

	.my-account-box ul li > strong{
		display: block;
		width:auto;
		margin: 10px 0;
	}
	.my-account-box ul li > span{display: block;}

	.my-account-box a.edit{
		top:-17px;
		left:-6px;
	}

	.address-book .address-box{
		padding:65px 10px 5px 10px;
		margin-top:0;
	}

	.address-box-options{
		width:100%;
		height: 50px;
		border-left:none;
		border-bottom:1px solid #5b626f;
		border-radius: 4px 4px 0 0;
	}

	.address-box .address-box-options a{
		float: right;
		width:33.33333333333%;
		height: 100%;
		border-bottom:none;
		border-left: 1px solid #5b626f;
	}
	.address-box .address-box-options a:last-child{border-left:none;}

	.new-address-box{padding:12px;}

	.from-address-book a.bttn,
	.address-book a.bttn{
		display: block;
		min-width: 0;
	}

	.categories-box,
	.fav-products-box{text-align: center;}
	.categories-box li{margin:5px 3px;}
	.fav-products-box li{margin:10px;}

}