/*****************************************************

SSSS  AAAAA  MMM  MMM  AAAAA  NN    N  II  RRRR  AAAAA
S     A   A  M  MM  M  A   A  N N   N  II  RRRR  A   A
SSSS  AAAAA  M  MM  M  AAAAA  N  N  N  II  RRRR  AAAAA   v2.7 | Etkaline v1.0
   S  A   A  M      M  A   A  N   N N  II  R  R  A   A
SSSS  S   A  M      M  A   A  N    NN  II  R  R  A   A

Github : http://github.com/samanrashidii/samanira

Documentation : http://www.samanrashidi.com/samanira

******************************************************/

@charset "utf-8";
@import url('fonts.css');

/* Information About the Project

Direction = rtl;
Font Main = Iran;
Font Side = Iran-Medium;
Font-Size Main = 13px;
Color Main = #4b5658;
Color Side = #3079AB;
Color Third = #eb7728;
Transition Duration = .2s;
Border-Radius = 4px;

*/

/********************
****** #GLOBAL ******
*********************/

/* -- _Main Styles -- */

*,
*::after,
*::before{
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body{
	min-height: 100%;
	height: 100%;
}

body{
	direction: rtl;
	line-height: 1.5;
	font-family: 'Iran', 'Iran-Medium', Tahoma, sans-serif;
	font-size: 13px;
	color:#4b5658;
	background-color:#ffffff;
}

a{
	color: inherit;
	text-decoration:none;
	outline: none;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

a:hover,
a:focus{outline: none;}

a img{
	outline:none;
	border:none;
}

img{
	display: block;
	max-width:100%;
	height: auto !important;
	margin:auto;
}

ul,
ol{list-style:none;}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Iran-Medium';
	font-weight: normal;
}

h1{font-size:40px;}
h2{font-size:30px;}
h3{font-size:25px;}
h4{font-size:20px;}
h5{font-size:17px;}
h6{font-size:15px;}

p{padding-top:15px;}
p a{color:#3079AB;}
p strong{color:#3079AB;}

strong{font-weight: normal;}

table{
	width: 100%;
	border-collapse: collapse;
}

iframe{
	display: block;
	outline:none;
	border:none;
}


/******************
****** #FORM ******
*******************/

/* -- _Main Styles -- */

::-webkit-input-placeholder{
	direction: rtl !important;
	font-family: 'Iran';
    font-size:13px;
    color: #b2b2b2;
}

:-moz-placeholder{
	direction: rtl !important;
    font-family: 'Iran';
    font-size:13px;
    color: #b2b2b2;
}

::-moz-placeholder{
	direction: rtl !important;
    font-family: 'Iran';
    font-size:13px;
    color: #b2b2b2;
}

:-ms-input-placeholder{  
	direction: rtl !important;
    font-family: 'Iran';
    font-size:13px;
    color: #b2b2b2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {background-color: #ffffff;}

fieldset{
	padding:25px 0 0 0;
	border:2px solid #3e474f;
	border-radius: 4px;
}

legend{
	display: block;
	font-size: 33px;
	color:#3e474f;
	padding:0 15px;
	margin:auto;
}

input,
textarea,
button{
	font-family: 'Iran';
	font-size: 13px;
 	color:#4b5658;
	outline:none;
	background-color: #ffffff;
	border:none;
	-webkit-appearance:none;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

select{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: 'Iran';
	font-size: 13px;
	color:#4b5658;
	text-align: center;
	padding:0 15px;
	outline: none;
	background: url('../images/assets/arrow-bottom.png') no-repeat 95% center #ffffff;
	border:1px solid #4b5658;
	border-radius: 4px;
	-webkit-appearance:none;
}

input{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding:0 15px;
	border:1px solid #d4d9dd;
	border-radius: 4px;
}

textarea{
	display: block;
	width: 100%;
	height: 120px;
	padding:15px;
	resize:none;
	border:1px solid #d4d9dd;
	border-radius: 4px;
}

label{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color:#4b5658;
	padding:7px 0;
}

label a{color:#3079AB;}

input[type="submit"]{
	display: block;
    width: 100%;
	font-size: 13px;
	color:#ffffff;
	text-align: center;
	padding:0 15px;
	cursor: pointer;
	background-color: #3079AB;
	border:none;
	border-radius: 3px;
    -webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

input[type="search"]{
	height: 40px;
	line-height: 41px;
	padding-left: 60px;
	border-color:transparent !important;
}

input[type="reset"]{
	display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    color: #4b5658;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
}

input[type="file"]{
	position: absolute;
	top:0;
	right: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
	padding:0;
	opacity: 0;
	cursor: pointer;
	border:none;
	border-radius: 4px;
	z-index: 5;
}

input.has-icon{padding-right: 40px;}
input.datepicker{cursor: pointer;}

address{
	font-style: normal;
	padding-top:15px;
}

/* -- _Actions -- */

input:not([type="submit"]):focus,
textarea:focus,
select:focus{border-color: #3079AB;}

input[type="search"]:focus{border-color: #a9b3bb;}

input[type="submit"]:hover,
input[type="submit"]:focus{background-color: #22577c !important;}

/* -- _Validation -- */

label.error{
	position: absolute;
    top: -28px;
    right: 10px;
    font-size: 11px;
    color: #ffffff !important;
    padding: 5px 10px !important;
    background: #e15258 !important;
    border-radius: 3px;
    -webkit-animation: errorLabel 4s ease-in-out infinite;
    animation: errorLabel 4s ease-in-out infinite;
}

label.error::before{
	content:'';
	position: absolute;
	bottom:-4px;
	right: 25px;
	width: 10px;
	height: 10px;
	background-color: #e15258;
	border-radius: 2px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

@-webkit-keyframes errorLabel {
	0%{-webkit-transform:translateY(0);}
	10%{-webkit-transform:translateY(0);}
	20%{-webkit-transform:translateY(0);}
	30%{-webkit-transform:translateY(0);}
	40%{-webkit-transform:translateY(0);}
	50%{-webkit-transform:translateY(-5px);}
	60%{-webkit-transform:translateY(0);}
	70%{-webkit-transform:translateY(0);}
	80%{-webkit-transform:translateY(0);}
	90%{-webkit-transform:translateY(0);}
	100%{-webkit-transform:translateY(0);}
}

@keyframes errorLabel {
	0%{transform:translateY(0);}
	10%{transform:translateY(0);}
	20%{transform:translateY(0);}
	30%{transform:translateY(0);}
	40%{transform:translateY(0);}
	50%{transform:translateY(-5px);}
	60%{transform:translateY(0);}
	70%{transform:translateY(0);}
	80%{transform:translateY(0);}
	90%{transform:translateY(0);}
	100%{transform:translateY(0);}
}

/* -- _Classes in Form -- */

.form-field-holder{
	position: relative;
	width: 100%;
}

.form-field-holder .field-icon{
	position: absolute;
	top:50%;
	right: 10px;
	width: 32px;
	height: 32px;
	margin-top:-16px;
	border:1px solid #4b5658;
}

.field-holder{
	position: relative;
	width: 100%;
	margin:12px 0;
}

.reverse-input{direction: ltr;}

.textarea-word-tracker{position: relative;}

.textarea-word-tracker span{
	position: absolute;
	bottom:3px;
	left:5px;
	display: inline-block;
	font-size: 12px;
}

.textarea-word-tracker span::after{
	content:'حرف باقی مانده';
	margin-right: 5px;
}

.samanira_secure{
	height: 0 !important;
	visibility: hidden !important;
	opacity: 0 !important;
	border:none !important;
}

/* _Upload Button */

.upload-bttn{
	display: inline-block;
	vertical-align: middle;
	min-width: 120px;
	height: 40px;
	line-height: 41px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.upload-bttn input[type="file"]{display: none;}

.upload-bttn label{
	position: relative;
	display: block;
	font-size: 13px;
	color:#ffffff;
	padding:0;
	cursor: pointer;
	background-color: #5cb860;
	z-index: 6;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.upload-bttn label:hover{background-color: #48974b;}

.uploaded-photo-box{
	position: relative;
	display: inline-block;
	min-width: 120px;
	margin:5px;
	background-color: #f7f7f9;
	border-radius: 4px;
}

.uploaded-photo-box img{display: block;}

.uploaded-photo-box a.remove{
	-webkit-box-shadow: 0 0 4px #aaaaaa;
	-moz-box-shadow: 0 0 4px #aaaaaa;
	box-shadow: 0 0 4px #aaaaaa;
}

.file-name{
	direction: ltr;
	display: inline-block;
	vertical-align: middle;
	color:#3e474f;
	margin-right: 10px;
}

/* _Radio & _Checkbox */

.checkbox-holder,
.radio-holder{
	position: relative;
	width: 100%;
	margin-top:12px;
}

.radio-holder{margin:0;}

.checkbox-holder input[type="checkbox"],
.radio-holder input[type="radio"]{
	position: absolute;
	top:0;
	right:0;
	visibility: hidden;
}

.checkbox-holder input[type="checkbox"] + label,
.radio-holder input[type="radio"] + label{
	position: relative;
	display: inline-block;
	font-family: 'Iran';
	font-size: 13px;
	color: #686b6d;
	padding:4px 32px 4px 0;
	margin:0;
	cursor: pointer;
}

.checkbox-holder input[type="checkbox"] + label::before{
	content: '';
	position: absolute;
	top: 2px;
	right:2px;
	width: 22px;
	height: 22px;
	background-color: #ffffff;
	border:1px solid #e7e7e7;
	border-radius: 3px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.checkbox-holder input[type="checkbox"] + label::after{
	content: url('../images/assets/tick-white.png');
	position: absolute;
	top: 6px;
	right: 7px;
	width:11px;
	height: 11px;
	opacity: 0;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.checkbox-holder input[type="checkbox"]:checked + label::before{
	background-color: #3079AB;
	border-color:#3079AB;
}
.checkbox-holder input[type="checkbox"]:checked + label::after{opacity: 1;}

.radio-holder input[type="radio"] + label::before{
	content: '';
	position: absolute;
	top: 2px;
	right:2px;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border:1px solid #e0dfe3;
	border-radius: 50%;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.radio-holder input[type="radio"] + label::after{
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	width:12px;
	height: 12px;
	opacity: 0;
	background-color: #3079AB;
	border-radius: 50%;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.radio-holder input[type="radio"]:checked + label::before{border-color: #3079AB;}
.radio-holder input[type="radio"]:checked + label::after{opacity: 1;}

/*********************
****** #BUTTONS ******
**********************/

/* -- _Main Styles -- */

.button-holder{
	width: 100%;
	overflow: hidden;
	margin-top:10px;
}

.button-holder a,
.button-holder input{
	float: right;
	width:49%;
	margin-right: 2%;
}

.button-holder a:nth-child(2n+1),
.button-holder input:nth-child(2n+1){margin-right: 0;}

.bttn{
	position: relative;
	display: inline-block;
	min-width: 130px;
	font-size: 13px;
	color:#ffffff;
	text-align: center;
	padding:10.5px;
	background-color: #3079AB;
	border-radius: 4px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.bttn:hover{background-color: #22577c;}

.bttn.white{
	color:#3079AB;
	background-color: #ffffff;
}

.bttn.white:hover{background-color: #e1e1e1;}

.bttn.black{background-color: #000000;}

.bttn.black:hover{
	color:#000000;
	background-color: #ffffff;
}

.bttn.site{
	color:#ffffff;
	background-color: #5cb860;
}

.bttn.site:hover{background-color: #48974b;}

.bttn.site-2{
	color:#ffffff;
	background-color: #e15258;
}

.bttn.site-2:hover{background-color: #c8444a;}

.bttn.transparent{
	color:#3e474f;
	background-color: transparent;
	border:2px solid #3e474f;
}

.bttn.transparent.active{
	color:#ffffff;
	background-color: #5cb860;
}

.bttn.has-icon{
	text-align: left;
	background-position: 13px center;
    padding: 10px 15px 10px 43px;
}

.bttn.small{
	min-width: 120px;
	font-size: 13px;
	padding:8px 5px;
}

.bttn.medium{
	min-width: 180px;
	font-size: 18px;
	padding:12px 10px;
}

.bttn.large{
	min-width: 220px;
	font-size: 16px;
	padding:12px 10px;
}

.bttn:active,
input[type="submit"]:active{
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	transform:translateY(1px);
}

.bttn svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 5px;
}

/* -- _Switch -- */

.switch{
	display: inline-block;
	vertical-align: middle;
	width: 58px;
	height: 32px;
	margin-right: 5px;
	background: url('../images/icons/switch.png') no-repeat center;
}

.switch.active{background-image: url('../images/icons/switch-on.png');}

/* -- _Nav Toggle -- */

.nav-toggle{
	display: none;
    width: 30px;
    height: 19px;
    text-align: center;
    margin-top:10px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.nav-toggle span{
	position: relative;
	display: block;
	height: 2px;
	margin-bottom: 6px;
	background-color: #ffffff;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.nav-toggle span:last-child{margin-bottom: 0;}
.nav-toggle.active{margin-top:11px;}
.nav-toggle.active span{
	margin-bottom: 5px;
	background-color: #3079AB;
}

/* -- _Remove & Close -- */

a.remove{
	position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 28px;
    height: 28px;
    background: url('../images/assets/remove.png') no-repeat center center #ffffff;
    border-radius: 4px;
    z-index: 6;
}

a.close{
	position: absolute;
	top:5px;
	right:5px;
	display: block;
	width: 22px;
	height: 22px;
	background: url('../images/assets/close-small.png') no-repeat center #3079AB;
	border-radius: 3px;
	z-index: 10;
}

a.close:hover{background-color: #22577c;}

/********************
****** #FRAMES ******
*********************/

/* -- _Main Styles -- */

#wrapper{
	position: relative;
	min-width: 320px;
	width:100%;
	min-height: 100%;
}

.frame{
	max-width: 1070px;
	padding: 0 10px;
	margin:auto;
}

.frame.xxlarge{max-width: 1450px;}
.frame.xlarge{max-width: 1300px;}
.frame.large{max-width: 1200px;}
.frame.medium{max-width: 890px;}
.frame.small{max-width: 780px;}
.frame.xsmall{max-width: 560px;}
.frame.xxsmall{max-width: 420px;}

.clear-fix{
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.has-clear-fix::after{
	content:'';
	display: table;
	height: 0;
	clear: both;
	visibility: hidden;
}

.divider{
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 13px;
	margin: 0 10px;
	background-color: #4b5658;
}

/********************
****** #COMMON ******
*********************/

/* -- _Page Styles -- */

.transparent-bg{background-color: transparent !important;}
.site-bg{background-color: #4b5658;}
.site-2-bg{background-color: #eb7728;}
.blue-bg{background-color:#368098;}
.green-bg{background-color:#61bd61;}
.purple-bg{background-color:#843698;}
.red-bg{background-color:#e15258;}
.yellow-bg{background-color:#e4d257;}
.orange-bg{background-color:#ef9200;}
.grey-bg{background-color:#a7a7b4;}
.black-bg{background-color:#000000;}
.white-bg{background-color:#ffffff;}

.fixed-attachment{background-attachment: fixed !important;}
.scroll-attachment{background-attachment: scroll !important;}

.auto-width{width: auto !important;}
.full-width{width: 100% !important;}
.full-height{height: 100% !important;}

.no-overflow{overflow: visible !important;}
.auto-overflow{overflow: auto !important;}
.hidden-overflow{overflow: hidden !important;}
.hidden-visibility{visibility: hidden !important;}

.inline-display{display: inline !important;}
.inline-block-display{display: inline-block !important;}
.block-display{display: block !important;}
.none-display{display: none !important;}
.no-display{display: none;}
.table-display{
	display: table !important;
	width: 100%;
	height: 100%;
}
.table-cell-display{
	display: table-cell !important;
	width: 100%;
	height: 100%;
}

.static-position{position: static;}
.relative-position{position: relative;}
.absolute-position{position: absolute;}
.z-index{
	position: relative;
	z-index: 100;
}

.top-aligned{vertical-align: top;}
.vertical-aligned{vertical-align: middle;}
.bottom-aligned{vertical-align: bottom;}

.has-text-shadow{text-shadow: 0 0 2px #121212;}

.no-boxshadow{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.has-boxshadow{
	-webkit-box-shadow: 0 0 10px #4b5658 !important;
	-moz-box-shadow: 0 0 10px #4b5658 !important;
	box-shadow: 0 0 10px #4b5658 !important;
}

.has-transition{
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	transition:all .2s linear;
}
.has-ease-transition{
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.has-ease-in-transition{
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.has-ease-out-transition{
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
.has-cubic-transition{
	-webkit-transition:all .2s cubic-bezier(.15,.41,.89,.63);
	-moz-transition:all .2s cubic-bezier(.15,.41,.89,.63);
	transition:all .2s cubic-bezier(.15,.41,.89,.63);
}

/* -- _Font Styles -- */

.font-size-vlarge{font-size: 29px;}
.font-size-xxlarge{font-size: 25px;}
.font-size-xlarge{font-size: 22px;}
.font-size-large{font-size: 18px;}
.font-size-medium{font-size: 15px;}
.font-size-small{font-size: 13px;}
.font-size-xsmall{font-size: 11px;}
.font-size-xxsmall{font-size: 9px;}

.font-type-default{font-family: 'Iran';}
.font-type-medium{font-family: 'Iran-Medium';}
.font-type-different{font-family: 'Iran';}

.site-color{color:#3079AB !important;}
.site-color-2{color:#4b5658 !important;}
.site-color-3{color:#eb7728 !important;}
.blue-color{color:#368098 !important;}
.green-color{color:#5cb860 !important;}
.green-color-2{color:#67b83f !important;}
.purple-color{color:#843698 !important;}
.red-color{color:#e15258 !important;}
.yellow-color{color:#e4d257 !important;}
.orange-color{color:#ef9200 !important;}
.grey-color{color:#a7a7b4 !important;}
.black-color{color:#000000 !important;}
.white-color{color:#ffffff !important;}

.center-aligned{text-align: center;}
.left-aligned{text-align: left;}
.right-aligned{text-align: right;}
.justify-aligned{text-align: justify;}

.uppercased{text-transform: uppercase;}
.lowercased{text-transform: lowercase;}
.capitalized{text-transform: capitalize;}

.italic-style{font-style: italic;}
.normal-style{font-style: normal;}

/* -- _Box Styles -- */

.right-floated{float: right;}
.left-floated{float: left;}
.no-float{float: none !important;}

.no-border{border:none !important;}
.has-border{border: 1px solid #e7e7e7;}
.has-top-border{border-top: 1px solid #e1e1e1;}
.has-right-border{border-right: 1px solid #e1e1e1;}
.has-bottom-border{border-bottom: 1px solid #e1e1e1;}
.has-left-border{border-left: 1px solid #e1e1e1;}

.no-border-radius{border-radius: 0 !important;}
.has-border-radius{border-radius: 4px !important;}
.has-top-border-radius{border-radius: 4px 2px 0 0 !important;}
.has-right-border-radius{border-radius: 0 2px 2px 0 !important;}
.has-bottom-border-radius{border-radius: 0 0 2px 2px !important;}
.has-left-border-radius{border-radius: 4px 0 0 2px !important;}

.no-padding{padding:0 !important;}
.no-top-padding{padding-top: 0 !important;}
.no-bottom-padding{padding-bottom: 0 !important;}
.no-left-padding{padding-left: 0 !important;}
.no-right-padding{padding-right: 0 !important;}
.no-x-padding{
	padding-left:0 !important;
	padding-right: 0 !important;
}
.no-y-padding{
	padding-top:0 !important;
	padding-bottom: 0 !important;
}

.has-vlarge-padding{padding:80px !important;}
.has-vlarge-top-padding{padding-top:80px !important;}
.has-vlarge-bottom-padding{padding-bottom:80px !important;}
.has-vlarge-left-padding{padding-left:80px !important;}
.has-vlarge-right-padding{padding-right:80px !important;}
.has-vlarge-x-padding{padding:0 80px !important;}
.has-vlarge-y-padding{padding:80px 0 !important;}

.has-xxlarge-padding{padding:60px !important;}
.has-xxlarge-top-padding{padding-top:60px !important;}
.has-xxlarge-bottom-padding{padding-bottom:60px !important;}
.has-xxlarge-left-padding{padding-left:60px !important;}
.has-xxlarge-right-padding{padding-right:60px !important;}
.has-xxlarge-x-padding{padding:0 60px !important;}
.has-xxlarge-y-padding{padding:60px 0 !important;}

.has-xlarge-padding{padding:50px !important;}
.has-xlarge-top-padding{padding-top:50px !important;}
.has-xlarge-bottom-padding{padding-bottom:50px !important;}
.has-xlarge-left-padding{padding-left:50px !important;}
.has-xlarge-right-padding{padding-right:50px !important;}
.has-xlarge-x-padding{padding:0 50px !important;}
.has-xlarge-y-padding{padding:50px 0 !important;}

.has-large-padding{padding:40px !important;}
.has-large-top-padding{padding-top:40px !important;}
.has-large-bottom-padding{padding-bottom:40px !important;}
.has-large-left-padding{padding-left:40px !important;}
.has-large-right-padding{padding-right:40px;}
.has-large-x-padding{padding:0 40px !important;}
.has-large-y-padding{padding:40px 0 !important;}

.has-padding{padding:30px !important;}
.has-top-padding{padding-top:30px !important;}
.has-bottom-padding{padding-bottom:30px !important;}
.has-left-padding{padding-left:30px !important;}
.has-right-padding{padding-right:30px !important;}
.has-x-padding{padding:0 30px !important;}
.has-y-padding{padding:30px 0 !important;}

.has-medium-padding{padding:20px !important;}
.has-medium-top-padding{padding-top:20px !important;}
.has-medium-bottom-padding{padding-bottom:20px !important;}
.has-medium-left-padding{padding-left:20px !important;}
.has-medium-right-padding{padding-right:20px !important;}
.has-medium-x-padding{padding:0 20px !important;}
.has-medium-y-padding{padding:20px 0 !important;}

.has-small-padding{padding:15px !important;}
.has-small-top-padding{padding-top:15px !important;}
.has-small-bottom-padding{padding-bottom:15px !important;}
.has-small-left-padding{padding-left:15px !important;}
.has-small-right-padding{padding-right:15px !important;}
.has-small-x-padding{padding:0 15px !important;}
.has-small-y-padding{padding:15px 0 !important;}

.has-xsmall-padding{padding:10px !important;}
.has-xsmall-top-padding{padding-top:10px !important;}
.has-xsmall-bottom-padding{padding-bottom:10px !important;}
.has-xsmall-left-padding{padding-left:10px !important;}
.has-xsmall-right-padding{padding-right:10px !important;}
.has-xsmall-x-padding{padding:0 10px !important;}
.has-xsmall-y-padding{padding:10px 0 !important;}

.has-xxsmall-padding{padding:5px !important;}
.has-xxsmall-top-padding{padding-top:5px !important;}
.has-xxsmall-bottom-padding{padding-bottom:5px !important;}
.has-xxsmall-left-padding{padding-left:5px !important;}
.has-xxsmall-right-padding{padding-right:5px !important;}
.has-xxsmall-x-padding{padding:0 5px !important;}
.has-xxsmall-y-padding{padding:5px 0 !important;}

.no-margin{margin: 0 !important;}
.no-top-margin{margin-top:0 !important;}
.no-bottom-margin{margin-bottom: 0 !important;}
.no-left-margin{margin-left: 0 !important;}
.no-right-margin{margin-right: 0 !important;}
.no-x-margin{
	margin-left:0 !important;
	margin-right: 0 !important;
}
.no-y-margin{
	margin-top:0 !important;
	margin-bottom: 0 !important;
}

.has-auto-margin{margin: auto !important;}

.has-large-minus-margin{margin-top: -40px !important;}
.has-minus-margin{margin-top: -30px !important;}
.has-medium-minus-margin{margin-top: -20px !important;}
.has-small-minus-margin{margin-top: -10px !important;}

.has-vlarge-margin{margin:80px !important;}
.has-vlarge-top-margin{margin-top:80px !important;}
.has-vlarge-bottom-margin{margin-bottom:80px !important;}
.has-vlarge-left-margin{margin-left:80px !important;}
.has-vlarge-right-margin{margin-right:80px !important;}
.has-vlarge-x-margin{margin:0 80px !important;}
.has-vlarge-y-margin{margin:80px 0 !important;}

.has-xxlarge-margin{margin:60px !important;}
.has-xxlarge-top-margin{margin-top:60px !important;}
.has-xxlarge-bottom-margin{margin-bottom:60px !important;}
.has-xxlarge-left-margin{margin-left:60px !important;}
.has-xxlarge-right-margin{margin-right:60px !important;}
.has-xxlarge-x-margin{margin:0 60px !important;}
.has-xxlarge-y-margin{margin:60px 0 !important;}

.has-xlarge-margin{margin:50px !important;}
.has-xlarge-top-margin{margin-top:50px !important;}
.has-xlarge-bottom-margin{margin-bottom:50px !important;}
.has-xlarge-left-margin{margin-left:50px !important;}
.has-xlarge-right-margin{margin-right:50px !important;}
.has-xlarge-x-margin{margin:0 50px !important;}
.has-xlarge-y-margin{margin:50px 0 !important;}

.has-large-margin{margin:40px !important;}
.has-large-top-margin{margin-top:40px !important;}
.has-large-bottom-margin{margin-bottom:40px !important;}
.has-large-left-margin{margin-left:40px !important;}
.has-large-right-margin{margin-right:40px !important;}
.has-large-x-margin{margin:0 40px !important;}
.has-large-y-margin{margin:40px 0 !important;}

.has-margin{margin:30px !important;}
.has-top-margin{margin-top:30px !important;}
.has-bottom-margin{margin-bottom:30px !important;}
.has-left-margin{margin-left:30px !important;}
.has-right-margin{margin-right:30px !important;}
.has-x-margin{margin:0 30px !important;}
.has-y-margin{margin:30px 0 !important;}

.has-medium-margin{margin:20px !important;}
.has-medium-top-margin{margin-top:20px !important;}
.has-medium-bottom-margin{margin-bottom:20px !important;}
.has-medium-left-margin{margin-left:20px !important;}
.has-medium-right-margin{margin-right:20px !important;}
.has-medium-x-margin{margin:0 20px !important;}
.has-medium-y-margin{margin:20px 0 !important;}

.has-small-margin{margin:15px !important;}
.has-small-top-margin{margin-top:15px !important;}
.has-small-bottom-margin{margin-bottom:15px !important;}
.has-small-left-margin{margin-left:15px !important;}
.has-small-right-margin{margin-right:15px !important;}
.has-small-x-margin{margin:0 15px !important;}
.has-small-y-margin{margin:15px 0 !important;}

.has-xsmall-margin{margin:10px !important;}
.has-xsmall-top-margin{margin-top:10px !important;}
.has-xsmall-bottom-margin{margin-bottom:10px !important;}
.has-xsmall-left-margin{margin-left:10px !important;}
.has-xsmall-right-margin{margin-right:10px !important;}
.has-xsmall-x-margin{margin:0 10px !important;}
.has-xsmall-y-margin{margin:10px 0 !important;}

.has-xxsmall-margin{margin:5px !important;}
.has-xxsmall-top-margin{margin-top:5px !important;}
.has-xxsmall-bottom-margin{margin-bottom:5px !important;}
.has-xxsmall-left-margin{margin-left:5px !important;}
.has-xxsmall-right-margin{margin-right:5px !important;}
.has-xxsmall-x-margin{margin:0 5px !important;}
.has-xxsmall-y-margin{margin:5px 0 !important;}

/*********************
****** #CLASSES ******
**********************/

/* -- _Schema -- */

.schema-item{
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
}

/* -- _Overlay -- */

.overlay{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow-y:auto;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0, .7);
	z-index: 99999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.overlay.active{
	visibility: visible;
	opacity: 1;
}

.inner-overlay{
	display: table;
	width: 100%;
	height: 100%;
}

.overlay-box{
	display: table-cell;
	vertical-align: middle;
	padding:30px;
}

.inner-overlay-box{
	position: relative;
	max-width: 480px;
	padding:30px;
	margin:auto;
	background-color: #ffffff;
	border-radius: 4px;
}

/* -- _List Items -- */

.normal-bullet{margin-top:15px;}
.circle-bullet li,
.normal-bullet li{margin:5px 0;}

.circle-bullet li::before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 7px;
	margin-left: 7px;
	background-color: #3079AB;
	border-radius: 50%;
}

.circle-bullet.small li::before{
	width: 6px;
	height: 6px;
}

.number-bullet li::before{
	content:attr(list-number);
	display: inline-block;
	color: #3079AB;
	margin-left: 7px;
}

.tick-bullet li{
	font-size: 12px;
	color: #3079AB;
	margin-bottom: 16px;
}

.tick-bullet li:last-child{margin-bottom: 0;}

.tick-bullet li::before{
	content:'';
	display: inline-block;
	width: 14px;
	height: 11px;
	margin-right: 15px;
	background:url('../images/assets/tick.png') no-repeat center;
}

/* -- _Tag -- */

.web-tags a{
	display: inline-block;
	color:#ffffff;
	padding:5px 10px;
	margin:5px 3px;
	background-color:#111111;
	border-radius: 4px;
}

.web-tags a:hover{background-color:#3079AB;}

.tag{
	display: inline-block;
	min-width: 70px;
	font-size: 11px;
	color:#ffffff;
	text-align: right;
	padding:5px 10px;
	background-color: #4b5658;
	border-radius: 3px;
	-webkit-transition:all .2s ease-in-out;
 	-moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
.tag:hover{background-color: #565656;}

.site-label{background:#3079AB;}
.site-label:hover{background-color:#f55757;}

.blue-label{background-color: #368098 !important;}
.blue-label:hover{background-color: #246073 !important;}

.green-label{background-color: #61bd61 !important;}
.green-label:hover{background-color: #3c893c !important;}

.purple-label{background-color: #843698 !important;}
.purple-label:hover{background-color: #532160 !important;}

.red-label{background-color: #e56262 !important;}
.red-label:hover{background-color: #c83a3a !important;}

.yellow-label{background-color: #e4d257 !important;}
.yellow-label:hover{background-color: #d6bb00 !important;}

.orange-label{background-color: #ef9200 !important;}
.orange-label:hover{background-color: #bb7301 !important;}

.grey-label{background-color: #a4a4a4 !important;}
.grey-label:hover{background-color: #888888 !important;}

.black-label{background-color: #323232 !important;}
.black-label:hover{background-color: #000000 !important;}

.white-label{
	color:#4b5658 !important;
	background-color: #ffffff !important;
}
.white-label:hover{background-color: #b7b7b7 !important;}

.pending-label{
	padding-right: 27px;
	background: url('../images/icons/process.png') no-repeat 92% center #ef9200 !important;
}

.delivered-label{
	padding-right: 46px;
	background: url('../images/icons/delivery-white.png') no-repeat 92% center #61bd61 !important;
}

.failed-label{
	padding-right: 33px;
	background: url('../images/icons/fail.png') no-repeat 92% center #e56262 !important;
}

/* -- _Post Stats -- */

.post-stats{
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding:9px 10px 7px 10px;
	margin-top:20px;
	background-color: #ececec;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.post-stats span{
	display: inline-block;
	vertical-align: middle;
	color:#7f7f7f;
}

.post-stats span::after{
	content:'•';
	display: inline-block;
	vertical-align: middle;
	color:#4b5658;
	margin:0 7px;
}

.post-stats span:last-child::after{display: none;}

/* -- _Message -- */

.message{
	padding:14px;
	margin:10px 0;
	background-color: #a9a9a9;
	border:1px solid #010101;
	border-radius: 4px;
	z-index: 99999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.message span{
	display: block;
	font-size: 13px;
	color:#ffffff;
}

.message.success{
	background-color: #e9fce8;
	border-color:#b8e0b7;
}
.message.success span{color:#71be6f;}

.message.fail{
	background-color: #fff4f4;
	border-color:#edc3c3;
}
.message.fail span{color:#e56b5a;}

/* -- _Star Rating -- */

.star-box{
	direction: ltr;
	width: 100%;
	margin-bottom:10px;
}

.star-box span{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	background: url('../images/icons/star.png') no-repeat center center;
}

.star-box span.active{background-image: url('../images/icons/star-active.png');}
.star-box span.selected{background-image: url('../images/icons/star-active.png') !important;}
.star-box span.half-active{background-image: url('../images/icons/star-half-active.png');}

.star-box i{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	font-style: normal;
	font-size: 13px;
	color:#ffffff;
	margin-left: 7px;
}

/* -- _Quotes -- */

.double-quotes::before{
	content:'"';
	font-family: 'Iran-Medium';
	font-size: 18px;
	color:#000000;
}

.double-quotes::after{
	content:'"';
	font-family: 'Iran-Medium';
	font-size: 18px;
	color:#000000;
}

/* -- _Pagination -- */

.pagination{
	width: 100%;
	margin: 45px 0 20px 0;
}

.pagination ul{
    width: auto;
    text-align: center;
    margin: auto;
}

.pagination ul li {
    display: inline-block;
    vertical-align: middle;  
    text-align: center;
    margin: 0 1px;
}

.pagination ul li a{
	display: block;
	width: 35px;
    height: 35px;
	line-height: 36px;
    font-size: 14px;
    color:#4b5658;
	background-color: #ffffff;
	border:1px solid #a1a1a1;
	border-radius: 4px;
}

.pagination ul li.active a{
	color:#ffffff;
	background-color: #5cb860;
	border-color:#5cb860;
}

.pagination ul li.etc a{
	color: #4b5658;
	cursor:initial;
	background-color: transparent;
	border-color: transparent;
}

.pagination ul li.prev a,
.pagination ul li.next a{
	min-width: 55px;
	line-height: 34px;
	font-size: 12px;
	color: #ffffff;
	background-color: #3079AB;
	border-color:#3079AB;
}

.pagination ul li:not(.active):not(.etc):not(.prev):not(.next) a:hover{
	color: #ffffff;
	background-color: #3079AB;
	border-color: #3079AB;
}

.pagination ul li.prev a:hover,
.pagination ul li.next a:hover{
	background-color: #22577c;
	border-color: #22577c;
}

.pagination ul li.prev,
.pagination ul li.next{margin:0 5px;}

/* -- _Breadcrumb -- */

.breadcrumb{
	position: relative;
	width: 100%;
	margin-bottom: 35px;
}

.breadcrumb ul{
	display: block;
	overflow: hidden;
	text-align: center;
	padding:5px;
	background-color: #ffffff;
}

.breadcrumb ul li{
	display: inline-block;
	color: #585858;
}

.breadcrumb ul li::before{
	content:'/';
	display: inline-block;
	color:#585858;
	margin:0 5px 0 10px;
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	transform:translateY(1px);	
}

.breadcrumb ul li:first-child::before{display: none;}
.breadcrumb ul li a{color:#111111;}
.breadcrumb ul li a:hover{color:#3079AB;}

/* -- _Text Editors (change the style of all content comes from text editors) -- */

.static-shape{
	padding:25px;
	background-color: #ffffff;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 20px #cacaca;
	-moz-box-shadow: 0 0 20px #cacaca;
	box-shadow: 0 0 20px #cacaca;
}

.static-content h1{
	font-size: 24px !important;
	word-break: break-word !important;
}

.static-content h2{
	font-size: 21px !important;
	word-break: break-word !important;
	margin-top:20px !important;
}

.static-content h3{
	font-size: 19px !important;
	word-break: break-word !important;
	margin-top:20px !important;
}

.static-content h4{
	font-size: 17px !important;
	word-break: break-word !important;
	margin-top:20px !important;
}

.static-content h5{
	font-size: 15px !important;
	word-break: break-word !important;
	margin-top:20px !important;
}

.static-content h6{
	font-size: 14px !important;
	word-break: break-word !important;
	margin-top:20px !important;
}

.static-content p{
	font-size: 13px !important;
	word-break: break-word !important;
	padding-top:15px !important;
}

.static-content p strong{
	font-family: 'Iran-Medium' !important;
	color:#3079AB !important;
}

.static-content p a{color:#eb7728 !important;}

.static-content blockquote{
	font-family: 'Iran-Medium' !important;
	font-size: 16px !important;
	color: #3079AB !important;
	text-align:center !important;
	margin-top: 25px !important;
}

.static-content img{
	display: block !important;
	margin-top:20px !important;
	border-radius: 4px;
}

.static-content h1.dark-color{color: #111111 !important; }

.static-content ul,
.static-content ol{margin:15px 0 0 10px;}

.static-content ul li,
.static-content ol li{
	font-size: 13px;
	margin-bottom: 7px;
}

.static-content ul li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-left: 7px;
    background-color: #4b5658;
    border-radius: 50%;
}

.static-content ol li::before {
    content: attr(list-number);
    display: inline-block;
    margin-left: 7px;
}

.static-content .video-player{margin-top:30px !important;}

/* -- _Google Map -- */

#map_canvas{
	position: relative;
	width:100%;
	height:337px;
	border-radius: 4px;
	overflow: hidden;
}

#map_canvas img{
	max-width:none!important;
	background:none!important;
}

#map_canvas .gm-style{
	overflow: hidden;
	border-radius: 4px;
}


/********************
****** #TABLES ******
*********************/

/* -- _Main Styles -- */

.table{
	width: 100%;
	overflow: hidden;
	border-radius: 3px;
}

.table.scrollable{overflow-x:auto;}
.table.scrollable table{min-width: 760px;}

.table td,
.table th{
	padding:10px 12px;
	border:1px solid #b5b5b5;
}

.table tr td:first-child{
	color:#ffffff;
	background-color: #3e474f;
	border-color:#4a5158;
}

.table .table-anchor{
	font-size: 16px;
	color:#3079AB;
}
.table .table-anchor:hover{color:#49b73a;}

.table h6 a:hover{color:#3079AB;}

.table td{vertical-align: top;}
.table.middle-vertical td{vertical-align: middle;}

.table th{
	font-family: 'Iran-Medium';
	font-size: 12px;
	color:#111111;
	padding:9px 15px;
	background-color: #f0f0f0;
}

.table tr.active td{background-color: #f7f7f9;}

/* Responsive Tables are in media codes */

/* -- _Table Filter -- */

.table-filter{
	font-family: 'Iran-Medium';
	padding-left: 15px;
	cursor: pointer;
	background: url('../images/assets/arrow-down-black.png') no-repeat left 6px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.table-filter.active{background: url('../images/assets/arrow-up-black.png') no-repeat left center;}

/* -- _Div Table -- */

.div-table .row{
	display: table;
	width: 100%;
}

.div-table .column{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	padding:0 10px;
}

/* -- _Table Columns -- */

.column-5{width: 5%;}
.column-10{width: 10%;}
.column-15{width: 15%;}
.column-20{width: 20%;}
.column-25{width: 25%;}
.column-30{width: 30%;}
.column-35{width: 35%;}
.column-40{width: 40%;}
.column-45{width: 45%;}
.column-50{width: 50%;}
.column-55{width: 55%;}
.column-60{width: 60%;}
.column-65{width: 65%;}
.column-70{width: 70%;}
.column-75{width: 75%;}
.column-80{width: 80%;}
.column-85{width: 85%;}
.column-90{width: 90%;}
.column-95{width: 95%;}

/********************
****** #LAYOUT ******
*********************/

/* -- _Main Styles -- */

.content{padding:40px 0;}

.section-wrapper{width: 100%;}
.section-wrapper::before{
	content: " ";
	display: table;
	clear: both;
}

.section-wrapper::after{
	content: " ";
	display: table;
	clear:both;
}

.card-box{margin-bottom: 25px;}
.card-box:last-child{margin-bottom: 0;}

.section{
	float: right;
	width: 100%;
}

.section.reverse{float: left;}

.section.centered{
	float: none;
	margin:auto;
}

.section-box{
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.section-box.solo{float: none;}

.section-box.large-padding{padding:40px;}
.section-box.normal-padding{padding:30px;}
.section-box.medium-padding{padding:15px;}
.section-box.small-padding{padding:10px;}

.section-box-title h4{
	font-family: 'Iran';
	font-size: 17px;
	text-align: center;
	padding:12px 0 9px 0;
	background-color: #3e474f;
	border-radius: 5px 5px 0 0;
}

.section-box-title a{color:#ffffff;}
.section-box-title a:hover{color:#eb7728;}

.section-box-content{
	width: 100%;
	overflow: hidden;
	background-color: #f7f7f7;
	border:1px solid #3e474f;
	border-top:none;
	border-radius: 0 0 5px 5px;
}

.section-box-footer{
	width: 100%;
	padding-top: 15px;
	border-top: 1px solid #9a9a9a;
}

/* -- _Normal Columns -- */

.half-box{
	float: right;
	width: 50%;
}

.half-half-box{
	float: right;
	width: 25%;
}

.left-side{
	float: left;
	width: 48%;
	overflow: hidden;
}

.right-side{
	float: right;
	width: 48%;
	overflow: hidden;
}

/* -- _Cl Columns -- */

.section-wrapper.cl-column > .section{padding:0 15px;}
.section-wrapper.cl-column.y-padd > .section{padding:15px;}

.cl-1{width: 8.33333333% !important;}
.cl-2{width: 16.6666667% !important;}
.cl-3{width: 25% !important;}
.cl-4{width: 33.33333333% !important;}
.cl-5{width: 41.6666667% !important;}
.cl-6{width: 50% !important;}
.cl-7{width: 58.33333333% !important;}
.cl-8{width: 66.66666666% !important;}
.cl-9{width: 75% !important;}
.cl-10{width: 83.3333334% !important;}
.cl-11{width: 91.6666667% !important;}
.cl-12{width: 100% !important;}

/* -- _Has Columns -- */

.has-11-1-column > .section{
	width: 79%;
	margin-right: 3%;
}

.has-11-1-column > .section:nth-child(2n+1){
	width: 18%;
	margin-right: 0;
}

.has-1-11-column > .section{
	width: 18%;
	margin-right: 3%;
}

.has-1-11-column > .section:nth-child(2n+1){
	width: 79%;
	margin-right: 0;
}

.has-10-2-column > .section{
	width: 76%;
	margin-right: 2%;
}

.has-10-2-column > .section:nth-child(2n+1){
	width: 22%;
	margin-right: 0;
}

.has-2-10-column > .section{
	width: 18%;
	margin-right: 2%;
}

.has-2-10-column > .section:nth-child(2n+1){
	width: 80%;
	margin-right: 0;
}

.has-9-3-column > .section{
	width: 71.5%;
	margin-right: 2.5%;
}

.has-9-3-column > .section:nth-child(2n+1){
	width: 26%;
	margin-right: 0;
}

.has-3-9-column > .section{
	width: 26%;
	margin-right: 2.5%;
}

.has-3-9-column > .section:nth-child(2n+1){
	width: 71.5%;
	margin-right: 0;
}

.has-8-4-column > .section{
	width: 62%;
	margin-right: 3%;
}

.has-8-4-column > .section:nth-child(2n+1){
	width: 35%;
	margin-right: 0;
}

.has-4-8-column > .section{
	width: 35%;
	margin-right: 3%;
}

.has-4-8-column > .section:nth-child(2n+1){
	width: 62%;
	margin-right: 0;
}

.has-7-5-column > .section{
	width: 45.5%;
	margin-right: 2.5%;
}

.has-7-5-column > .section:nth-child(2n+1){
	width: 52%;
	margin-right: 0;
}

.has-5-7-column > .section{
	width: 56.875%;
	margin-right: 2.5%;
}

.has-5-7-column > .section:nth-child(2n+1){
	width: 40.625%;
	margin-right: 0;
}

.has-6-6-column > .section{
	width: 48.75%;
	margin-right: 2.5%;
}

.has-6-6-column > .section:nth-child(2n+1){margin-right: 0;}

.has-4-4-4-column > .section{
	width: 32%;
	margin-right: 2%;
}

.has-4-4-4-column > .section:nth-child(3n+1){margin-right: 0;}

.has-3-3-3-3-column > .section{
	width: 23.72%;
	margin-right: 1.706%;
}

.has-3-3-3-3-column > .section:nth-child(4n+1){margin-right: 0;}

.has-2-2-2-2-2-2-column > .section{
	width: 15%;
	margin-right: 2%;
}

.has-2-2-2-2-2-2-column > .section:nth-child(6n+1){margin-right: 0;}


/************************
****** #RESPONSIVE ******
*************************/

						/*            Min 980 Screen Start        */

@media only screen and (min-width:980px){

	.tablet-only{display: none !important;}

}

						/*            Min 980 Screen End        */

						/*            Min 560 Screen Start        */

@media only screen and (min-width:560px){

	.mobile-only{display: none !important;}

}

						/*            Min 540 Screen End        */

						/*            980 Screen Start        */

@media only screen and (max-width:980px){

	.desktop-only{display: none !important;}

	body{font-size: 12px;}
	h1{font-size:31px;}
	h2{font-size:26px;}
	h3{font-size:22px;}
	h4{font-size:18px;}
	h5{font-size:15px;}
	h6{font-size:14px;}
	p{padding-top:10px;}

	legend{
		font-size: 20px;
		color:#4b5658;
		padding:0 12px;
	}

	label{
		font-size: 13px;
		padding:10px 0;
	}

	input,
	select{
		height: 45px;
		line-height: 45px;
	}

	textarea{
		height: 120px;
		padding:12px;
	}

	.field-holder{margin:8px 0;}

	.bttn{
		min-width: 120px;
		font-size: 12px;
		padding:8px;
	}

	.bttn.large{
		min-width: 150px;
		font-size: 13px;
		padding:10px;
	}

	.fixed-attachment{background-attachment: scroll !important;}
  
    .has-large-minus-margin{margin-top: -20px !important;}
    .has-minus-margin{margin-top: -10px !important;}
    .has-medium-minus-margin{margin-top: -5px !important;}
    .has-small-minus-margin{margin-top: 0 !important;}

	.font-size-vlarge{font-size: 25px;}
	.font-size-xxlarge{font-size: 23px;}
	.font-size-xlarge{font-size: 20px;}
	.font-size-large{font-size: 16px;}
	.font-size-medium{font-size: 13px;}
	.font-size-small{font-size: 12px;}
	.font-size-xsmall{font-size: 10px;}
	.font-size-xxsmall{font-size: 9px;}

	.content{padding:20px 0;}

	.section-box{padding:12px;}
	.section-box.large-padding{padding:15px;}
	.section-box.normal-padding{padding:10px;}
	.section-box.medium-padding{padding:7px;}
	.section-box.small-padding{padding:4px;}

	.half-box,
	.right-side,
	.left-side{
		float: none !important;
		width: 100% !important;
	}

	.half-half-box{width: 50%;}

	.cl-1,
	.cl-2,
	.cl-3,
	.cl-4,
	.cl-5,
	.cl-6,
	.cl-7,
	.cl-8,
	.cl-9,
	.cl-10,
	.cl-11,
	.cl-12{
		float: none !important;
		width: 100% !important;
	}

	.has-11-1-column > .section,
	.has-1-11-column > .section,
	.has-10-2-column > .section,
	.has-2-10-column > .section,
	.has-9-3-column > .section,
	.has-3-9-column > .section,
	.has-8-4-column > .section,
	.has-4-8-column > .section,
	.has-7-5-column > .section,
	.has-5-7-column > .section,
	.has-6-6-column > .section,
	.has-4-4-4-column > .section{
		float: none !important;
		width: 100% !important;
		margin:0;
	}

	.has-3-3-3-3-column > .section,
	.has-2-2-2-2-2-2-column > .section{
		width: 48.75%;
		margin-right: 2.5%;
	}

	.has-3-3-3-3-column > .section:nth-child(4n+1){margin-right: 2.5%;}
	.has-2-2-2-2-2-2-column > .section:nth-child(6n+1){margin-right: 2.5%;}

	.has-3-3-3-3-column > .section:nth-child(2n+1),
	.has-2-2-2-2-2-2-column > .section:nth-child(2n+1){margin-right: 0;}

	.rspv.has-6-6-column > .section,
	.rspv.has-4-4-4-column > .section{
		float: right !important;
		width: 48.75% !important;
		margin-right: 2.5% !important;
	}

	.rspv.has-6-6-column > .card-box,
	.rspv.has-4-4-4-column > .card-box{margin-bottom: 15px !important;}

	.rspv.has-6-6-column > .section:nth-child(2n+1),
	.rspv.has-4-4-4-column > .section:nth-child(2n+1){margin-right: 0 !important;}

	.nav-toggle{display: block;}

	.table td,
	.table th{padding:10px;}

	.table.responsive table{
		min-width: 0;
		background-color: #ffffff;
	}
	.table.responsive thead{display: none;}

	.table.responsive tr{
		display: block;
		border-left:1px solid #e7e7e7;
	}
	.table.responsive tr:first-child{border-top: 1px solid #e7e7e7;}

	.table.responsive td{
		position: relative;
		display: block;
		overflow: hidden;
		font-size: 13px;
		color:#4b5658;
		text-align: right !important;
		padding-right: 120px;
	}

	.table.responsive td::before{
		content:attr(th-data);
		position: absolute;
		right: 0;
		top:0;
		display: block;
		width: 100px;
		height: 100%;
	    color: #ffffff;
	    text-align: center;
		padding:8px 5px 0 5px;
		background-color: #4b5658;
	}

	.static-content h1{
		font-size: 20px !important;
		margin-top:15px !important;
	}

	.static-content h2{
		font-size: 18px !important;
		margin-top:15px !important;
	}

	.static-content h3{
		font-size: 15px !important;
		margin-top:15px !important;
	}

	.static-content h4{
		font-size: 13px !important;
		margin-top:15px !important;
	}

	.static-content h5{
		font-size: 13px !important;
		margin-top:15px !important;
	}

	.static-content h6{
		font-size: 13px !important;
		word-break: break-word !important;
		margin-top:15px !important;
	}

	.static-content img{margin-top:10px !important;}

	.static-content p{
		font-size: 12px !important;
		padding-top:15px !important;
	}

	.static-content blockquote{
		font-size: 15px !important;
		margin-top: 15px !important;
	}

	.static-content ul li{font-size: 13px;}

	.static-content .video-player{margin-top:15px !important;}

	.double-quotes::before,
	.double-quotes::after{font-size: 13px;}

	
}

						/*            980 Screen End        */

						/*            740 Screen Start        */

@media only screen and (max-width:740px){

	input,
	textarea,
	select{font-size: 16px !important;}

	input[type="submit"]{font-size: 13px !important;}

	::-webkit-input-placeholder{font-size:12px;}
	:-moz-placeholder{font-size:12px;}
	::-moz-placeholder{font-size:12px;}
	:-ms-input-placeholder{font-size:12px;}

	.has-vlarge-padding{padding:40px !important;}
	.has-vlarge-top-padding{padding-top:40px !important;}
	.has-vlarge-bottom-padding{padding-bottom:40px !important;}
	.has-vlarge-left-padding{padding-left:40px !important;}
	.has-vlarge-right-padding{padding-right:40px !important;}
	.has-vlarge-x-padding{padding:0 40px !important;}
	.has-vlarge-y-padding{padding:40px 0 !important;}

	.has-xxlarge-padding{padding:35px !important;}
	.has-xxlarge-top-padding{padding-top:35px !important;}
	.has-xxlarge-bottom-padding{padding-bottom:35px !important;}
	.has-xxlarge-left-padding{padding-left:35px !important;}
	.has-xxlarge-right-padding{padding-right:35px !important;}
	.has-xxlarge-x-padding{padding:0 35px !important;}
	.has-xxlarge-y-padding{padding:35px 0 !important;}

	.has-xlarge-padding{padding:30px !important;}
	.has-xlarge-top-padding{padding-top:30px !important;}
	.has-xlarge-bottom-padding{padding-bottom:30px !important;}
	.has-xlarge-left-padding{padding-left:30px !important;}
	.has-xlarge-right-padding{padding-right:30px !important;}
	.has-xlarge-x-padding{padding:0 30px !important;}
	.has-xlarge-y-padding{padding:30px 0 !important;}

	.has-large-padding{padding:25px !important;}
	.has-large-top-padding{padding-top:25px !important;}
	.has-large-bottom-padding{padding-bottom:25px !important;}
	.has-large-left-padding{padding-left:25px !important;}
	.has-large-right-padding{padding-right:25px !important;}
	.has-large-x-padding{padding:0 25px !important;}
	.has-large-y-padding{padding:25px 0 !important;}

	.has-padding{padding:20px !important;}
	.has-top-padding{padding-top:20px!important;}
	.has-bottom-padding{padding-bottom:20px!important;}
	.has-left-padding{padding-left:20px!important;}
	.has-right-padding{padding-right:20px!important;}
	.has-x-padding{padding:0 20px !important;}
	.has-y-padding{padding:20px 0 !important;}

	.has-medium-padding{padding:15px !important;}
	.has-medium-top-padding{padding-top:15px !important;}
	.has-medium-bottom-padding{padding-bottom:15px !important;}
	.has-medium-left-padding{padding-left:15px !important;}
	.has-medium-right-padding{padding-right:15px !important;}
	.has-medium-x-padding{padding:0 15px !important;}
	.has-medium-y-padding{padding:15px 0 !important;}

	.has-small-padding{padding:10px !important;}
	.has-small-top-padding{padding-top:10px !important;}
	.has-small-bottom-padding{padding-bottom:10px !important;}
	.has-small-left-padding{padding-left:10px !important;}
	.has-small-right-padding{padding-right:10px !important;}
	.has-small-x-padding{padding:0 10px !important;}
	.has-small-y-padding{padding:10px 0 !important;}

	.has-xsmall-padding{padding:7px !important;}
	.has-xsmall-top-padding{padding-top:7px !important;}
	.has-xsmall-bottom-padding{padding-bottom:7px !important;}
	.has-xsmall-left-padding{padding-left:7px !important;}
	.has-xsmall-right-padding{padding-right:7px !important;}
	.has-xsmall-x-padding{padding:0 7px !important;}
	.has-xsmall-y-padding{padding:7px 0 !important;}

	.has-xxsmall-padding{padding:5px !important;}
	.has-xxsmall-top-padding{padding-top:5px !important;}
	.has-xxsmall-bottom-padding{padding-bottom:5px !important;}
	.has-xxsmall-left-padding{padding-left:5px !important;}
	.has-xxsmall-right-padding{padding-right:5px !important;}
	.has-xxsmall-x-padding{padding:0 5px !important;}
	.has-xxsmall-y-padding{padding:5px 0 !important;}

	.has-vlarge-margin{margin:40px !important;}
	.has-vlarge-top-margin{margin-top:40px !important;}
	.has-vlarge-bottom-margin{margin-bottom:40px !important;}
	.has-vlarge-left-margin{margin-left:40px !important;}
	.has-vlarge-right-margin{margin-right:40px !important;}
	.has-vlarge-x-margin{margin:0 40px !important;}
	.has-vlarge-y-margin{margin:40px 0 !important;}

	.has-xxlarge-margin{margin:35px !important;}
	.has-xxlarge-top-margin{margin-top:35px !important;}
	.has-xxlarge-bottom-margin{margin-bottom:35px !important;}
	.has-xxlarge-left-margin{margin-left:35px !important;}
	.has-xxlarge-right-margin{margin-right:35px !important;}
	.has-xxlarge-x-margin{margin:0 35px !important;}
	.has-xxlarge-y-margin{margin:35px 0 !important;}

	.has-xlarge-margin{margin:30px !important;}
	.has-xlarge-top-margin{margin-top:30px !important;}
	.has-xlarge-bottom-margin{margin-bottom:30px !important;}
	.has-xlarge-left-margin{margin-left:30px !important;}
	.has-xlarge-right-margin{margin-right:30px !important;}
	.has-xlarge-x-margin{margin:0 30px !important;}
	.has-xlarge-y-margin{margin:30px 0 !important;}

	.has-large-margin{margin:25px !important;}
	.has-large-top-margin{margin-top:25px !important;}
	.has-large-bottom-margin{margin-bottom:25px !important;}
	.has-large-left-margin{margin-left:25px !important;}
	.has-large-right-margin{margin-right:25px !important;}
	.has-large-x-margin{margin:0 25px !important;}
	.has-large-y-margin{margin:25px 0 !important;}

	.has-margin{margin:20px !important;}
	.has-top-margin{margin-top:20px !important;}
	.has-bottom-margin{margin-bottom:20px !important;}
	.has-left-margin{margin-left:20px !important;}
	.has-right-margin{margin-right:20px !important;}
	.has-x-margin{margin:0 20px !important;}
	.has-y-margin{margin:20px 0 !important;}

	.has-medium-margin{margin:15px !important;}
	.has-medium-top-margin{margin-top:15px !important;}
	.has-medium-bottom-margin{margin-bottom:15px !important;}
	.has-medium-left-margin{margin-left:15px !important;}
	.has-medium-right-margin{margin-right:15px !important;}
	.has-medium-x-margin{margin:0 15px !important;}
	.has-medium-y-margin{margin:15px 0 !important;}

	.has-small-margin{margin:10px !important;}
	.has-small-top-margin{margin-top:10px !important;}
	.has-small-bottom-margin{margin-bottom:10px !important;}
	.has-small-left-margin{margin-left:10px !important;}
	.has-small-right-margin{margin-right:10px !important;}
	.has-small-x-margin{margin:0 10px !important;}
	.has-small-y-margin{margin:10px 0 !important;}

	.has-xsmall-margin{margin:7px !important;}
	.has-xsmall-top-margin{margin-top:7px !important;}
	.has-xsmall-bottom-margin{margin-bottom:7px !important;}
	.has-xsmall-left-margin{margin-left:7px !important;}
	.has-xsmall-right-margin{margin-right:7px !important;}
	.has-xsmall-x-margin{margin:0 7px !important;}
	.has-xsmall-y-margin{margin:7px 0 !important;}

	.has-xxsmall-margin{margin:5px !important;}
	.has-xxsmall-top-margin{margin-top:5px !important;}
	.has-xxsmall-bottom-margin{margin-bottom:5px !important;}
	.has-xxsmall-left-margin{margin-left:5px !important;}
	.has-xxsmall-right-margin{margin-right:5px !important;}
	.has-xxsmall-x-margin{margin:0 5px !important;}
	.has-xxsmall-y-margin{margin:5px 0 !important;}

	.overlay-box{padding:20px;}

	.web-tags a{
		padding:4px 10px;
		margin:4px 1px;
	}

	.tag{
		min-width: 40px;
		font-size: 12px;
		padding:2px 5px;
	}

	.circle-bullet li::before{
		width: 7px;
		height: 7px;
		margin-left: 8px;
	}

	.number-bullet li::before,
	.tick-bullet li::before{margin-left: 8px;}

	.tick-bullet li{font-size: 13px;}

	.message{padding:10px;}

	.post-stats span::after{margin:0 5px;}

	#map_canvas{height: 250px;}

}

						/*            740 Screen End        */	

						/*            640 Screen Start        */

@media only screen and (max-width:640px){

	.has-3-3-3-3-column > .section,
	.has-2-2-2-2-2-2-column > .section{
		float: none !important;
		width: 100% !important;
		margin-right: 0;
	}

	.pagination{margin:20px 0;}

	.pagination ul li a{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
	}

}

						/*            640 Screen End        */											

						/*            560 Screen Start        */						

@media only screen and (max-width: 560px){

	.tablet-desktop-only{display: none !important;}

	select,
	input[type="search"]{background-position-x:97%;}

	.half-half-box{
		float: none !important;
		width: 100% !important;
	}

	.rspv.has-6-6-column > .section,
	.rspv.has-4-4-4-column > .section{
		float: none !important;
		width: 100% !important;
		margin:0 !important;
	}

	.rspv.has-6-6-column > .card-box,
	.rspv.has-4-4-4-column > .card-box{margin-bottom: 15px !important;}

	.pagination ul{width: 100% !important;}

	.breadcrumb{margin-bottom: 20px;}

	a.close{
		top:-14px;
		left:-16px;
	}

	.checkbox-holder input[type="checkbox"] + label,
	.radio-holder input[type="radio"] + label{padding-right: 28px;}

}

						/*            560 Screen End        */

						/*            400 Screen Start        */

@media only screen and (max-width:400px){

	.pagination ul li a{
		width: 30px;
		height: 30px;
		line-height: 27px;
	}

}

						/*            400 Screen End        */