/*   Main Styles by Front-end   */

.top-header{background-color: #ebebeb;}

.top-header .frame{padding:30px 10px 30px 130px;}

.top-header .frame > div{
	display: inline-block;
	vertical-align: top;
	margin-right: -1px;
	margin-left: -1px;
}

a.site-color:hover{color:#22577c !important;}

.cart a{
	position: relative;
	display: block;
	font-size: 18px;
	color:#ffffff;
	padding:11px 13px 2px 13px;
	margin-left: 5px;
	background-color: #5cb860;
	border-radius: 4px;
}

.cart a:hover{background-color: #48974b;}

.cart span{
	position: absolute;
	top:-7px;
	right: -7px;
	width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 10px;
	color:#ffffff;
	text-align: center;
	background-color: #e15258;
	border-radius: 50%;
	z-index: 10;
}

.logo{
	position: absolute;
	top:5px;
	left:0;
	font-size: 11px;
	text-align: center;
	z-index: 10;
}

.search{
	position: relative;
	min-width: 700px;
	margin-right: 5px !important;
	z-index: 9999999;
}

.search input[type="submit"]{
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 100%;
	background: url('../images/icons/search.svg') no-repeat center #3079AB;
	border:none;
	border-radius: 3px 0 0 3px;
	z-index: 10;
}

.search-overlay{
	position: fixed;
	top:0;
	left:0;
	display: block;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0, .7);
	z-index: 999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.search-overlay.active{
	visibility: visible;
	opacity: 1;
}

.bottom-header{background-color: #3e474f;}

.navigation > ul > li{
	display: inline-block;
	margin: 0 15px;
}

.navigation > ul > li > a{
	display: block;
	font-size: 13px;
	color:#b2bbbd;
	padding:15px 0 12px 0;
}

.navigation > ul > li > a:hover{color:#ffffff;}

.navigation > ul > li > a svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	margin-left: 10px;
}

.megamenu{
	position:absolute;
	top:auto;
	right:0;
	width: 100%;
	text-align: right;
	padding:0 15px;
	visibility: hidden;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #ffffff;
	background-size: cover;
	border-top:none;
	border-radius: 0 0 4px 4px;
	z-index: 9999;
	-webkit-box-shadow: 0 0 15px #3e474f;
	-moz-box-shadow: 0 0 15px #3e474f;
	box-shadow: 0 0 15px #3e474f;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.navigation > ul > li:hover .megamenu{
	-webkit-animation: popUp .25s ease-in-out .4s;
	-moz-animation: popUp .25s ease-in-out .4s;
	animation: popUp .25s ease-in-out .4s;
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	transition-delay: .4s;
}

@keyframes popUp {
	0%{opacity: 0;}
	20%{opacity: .2;}
	40%{opacity: .4;}
	60%{opacity: .6;}
	80%{opacity: .8;}
	100%{opacity: 1;}
}

.menu-box{
	display: inline-block;
	vertical-align: top;
	min-height: 400px;
	text-align: center;
	padding:25px 15px;
}

.menu-box h5{
	font-size: 14px;
	color:#3079AB;
	padding:7px 15px;
	margin-bottom: 20px;
	border-radius: 4px;
}

.menu-box li{margin:10px 0;}
.menu-box li a:hover{text-shadow: 0 0 1px #babfc3;}

.off-price{
	font-size: 14px !important;
	text-decoration: line-through;
}

.price-box strong{
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	margin:10px 5px;
}

.countdown-box-wrapper{
	position: absolute;
	bottom:-9px;
	left:0;
	width: 100%;
	overflow:hidden;
	z-index: 999;
	border-radius: 0 0 4px 4px;
}

.countdown-box{
	float: left;
	width: 25%;
	height: 85px;
	text-align: center;
	background-color: #242b31;
	border-left:1px solid #2f363e;
}

.countdown-box:nth-child(4n+1){border-left: none;}

.countdown-box span{
	display: block;
	width: 100%;
	font-family: 'Iran-Medium';
	font-size: 28px;
	color:#ffffff;
	padding-top:15px;
}

.countdown-box h6{
	font-family: 'Iran';
	font-size: 13px;
	color:#3079AB;
	margin-top:-5px;
}

.post-items li a{
	position: relative;
	display: block;
	min-height: 70px;
	font-size: 12px;
	padding:10px 95px 10px 10px;
	border-bottom:1px solid #aeaeae;
}
.post-items li:last-child a{border-bottom:none;}

.post-items li a:hover{color:#3079AB;}

.post-items li img{
	position: absolute;
	top:10px;
	right:10px;
	width: 75px !important;
	height: 50px !important;
	border-radius: 3px;
}

.post-items li p{padding-top:0;}

.ads img{border-radius: 4px;}

.product-items a{
	position: relative;
	display: block;
	overflow:hidden;
	color:#3e474f;
	text-align: center;
	background-color: #ffffff;
	-webkit-box-shadow:0 0 4px #3e474f;
	-moz-box-shadow:0 0 4px #3e474f;
	box-shadow:0 0 4px #3e474f;
	border-radius: 4px;
}

.product-items a:hover{
	color:#3079AB;
	-webkit-box-shadow:0 0 7px #000000;
	-moz-box-shadow:0 0 7px #000000;
	box-shadow:0 0 7px #000000;
}

.installment a::before{
	content:'نقد و اقساط';
	position: absolute;
	top:-2px;
	left:10px;
	width: 40px;
	height: 76px;
	font-size: 11px;
	color:#232323;
	padding-top:37px;
	background: url('../images/icons/ribbon-yellow.png') no-repeat center;
	z-index: 100;
}

.sale a::before{
	content:'تخفیف';
	position: absolute;
	top:-2px;
	left:10px;
	width: 40px;
	height: 78px;
	font-size: 11px;
	color:#ffffff;
	padding-top:45px;
	background: url('../images/icons/ribbon-green.png') no-repeat center;
	z-index: 100;
}


.product-items img{
	width: 160px !important;
	height: 160px !important;
	padding:10px;
}

.item-details{
	direction: rtl;
	text-align: center;
	padding:10px;
	background-color: #f7f7f7;
	border-top:1px solid #d3d3d3;
}

.item-details h6{
	font-family: 'Iran';
	font-size: 14px;
	margin-bottom:7px;
}

.item-details .off-price{font-size: 11px !important;}

.item-details .price-box{height: 40px;}

.item-details .price-box strong{
	display: block;
	font-size: 13px;
	margin:3px 0px;
}

.news-box{
	display: block;
	overflow:hidden;
	background-color: #ffffff;
	border:1px dashed #3e474f;
	border-radius: 4px;
}

.news-image{overflow:hidden;}

.news-box:hover img{opacity: .9;}
.news-box:hover{color:#3079AB;}
.news-box:hover .post-stats{background-color: #e1e1e1;}

.news-content{padding:10px;}

.ads a{display: block;}
.ads a:hover{opacity: .9;}

.brands .owl-carousel .owl-stage-outer{padding:22px 0;}

.brands .owl-carousel .owl-nav .owl-prev,
.brands .owl-carousel .owl-nav .owl-next{
	top:0;
	width:30px !important;
	height: 100%;
	margin:0;
	border-radius: 3px;
}

.footer{
	width: 100%;
	padding:40px 0;
	background-color: #3e474f;
}

.footer-box{
	float: right;
	width:15%;
	color:#fafafa;
	min-height: 220px;
}

.footer-box:nth-child(1){width:45%;}
.footer-box:nth-child(2){width:40%;}

.sitemap{
	float: right;
	width: 47%;
	color:#b2bbbd;
	margin-left: 6%;
}

.sitemap:nth-child(2n+1){margin-left: 0;}

.sitemap h5{
	color:#3079AB;
	margin-bottom: 20px;
}

.sitemap li{margin:10px 0;}
.sitemap li a:hover{color:#ffffff;}

.newsletter label{
	color:#fafafa;
	padding:3px 0 8px 0;
}

.newsletter input{
	text-align: center;
	margin:5px 0;
	border:none;
}

.newsletter input[type="submit"]{font-size: 13px;}

.footer-contact-info{
	padding-top:15px;
	margin-top:15px;
	border-top:1px solid #2f363e;
}

.tel-number{
	float: left;
	margin-top:2px;
}

.tel-number:hover{color:#3079AB;}

.symbols{direction: ltr;}
.symbols img{
	display: block;
    width: 100px;
    height: 100px !important;
    padding: 4px;
    margin: 7px 0 0 0 !important;
    cursor: pointer;
    background: #ffffff;
    border-radius: 4px;
}

.symbols img:first-child{height: 108px !important;}

.copyright{
	font-size: 12px;
	margin-top:19px !important;
}

.forgot-password-bttn{
	float: left;
	display: inline-block;
	margin-top:3px;
}

.form-wrapper h4 svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 27px;
	margin:2px 0 0 5px;
}

/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */






