/*   Main Styles by Front-end   */

.top-header{background-color: #ebebeb;}

.top-header .frame{padding:30px 10px 30px 130px;}

.top-header .frame > div:not(.search-overlay){
	display: inline-block;
	vertical-align: top;
	margin-right: -1px;
	margin-left: -1px;
}

a.site-color:hover{color:#22577c !important;}

.cart a{
	position: relative;
	display: block;
	font-size: 18px;
	color:#ffffff;
	padding:11px 13px 2px 13px;
	margin-left: 5px;
	background-color: #5cb860;
	border-radius: 4px;
}

.cart a:hover{background-color: #48974b;}

.cart span{
	position: absolute;
	top:-7px;
	right: -7px;
	width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 10px;
	color:#ffffff;
	text-align: center;
	background-color: #e15258;
	border-radius: 50%;
	z-index: 10;
}

.logo{
	position: absolute;
	top:5px;
	left:0;
	font-size: 11px;
	text-align: center;
	z-index: 10;
}

.login-status a.bttn{
	min-width: 100px;
	font-size: 12px;
	padding:11px;
}

.search{
	position: relative;
	min-width: 700px;
	margin-right: 5px !important;
	z-index: 9999999;
}

.logged-in .search{min-width: 490px;}

.search input[type="submit"],
.search button{
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 100%;
	background: url('../images/icons/search.svg') no-repeat center #3079AB;
	border:none;
	border-radius: 3px 0 0 3px;
	z-index: 10;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
}

.search-overlay{
	position: fixed;
	top:0;
	left:0;
	display: block;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0, .7);
	z-index: 999999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.search-overlay.active{
	visibility: visible;
	opacity: 1;
}

.search-result{
	position: absolute;
	right:0;
	width: 100%;
	min-height: 200px;
	max-height: 400px;
	overflow-y: auto;
    padding: 10px 20px;
    margin-top: 3px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    border-radius: 3px;
	-webkit-box-shadow: 0 0 7px #5a5a5a;
	-moz-box-shadow: 0 0 7px #5a5a5a;
	box-shadow: 0 0 7px #5a5a5a;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.search.active .search-result{
	visibility: visible;
	opacity: 1;
}

.search-items{
	float: right;
	width: 69%;
	min-height: 100%;
	overflow: hidden;
	margin-right: 1%;
	border:1px solid #eaeaea;
	border-radius: 4px;
}

.search-items li{
	position: relative;
	overflow: hidden;
	font-size: 12px;
	border-bottom:1px solid #eaeaea;
}
.search-items li:last-child{border-bottom:none;}

.search-result a{
	display: block;
	padding:10px;
}
.search-result a:hover{
	color:#3079AB;
	background-color: #f4f4f4;
}

.search-items li img{
	float: right;
	width:50px !important;
	padding:5px;
	margin-left: 15px;
	border:1px solid #9a9a9a;
	border-radius: 4px;
}

.search-items li span{display: block;}
.search-items li span:not(:last-child){margin-bottom: 10px;}

.search-categories{
	float: right;
	width:30%;
	min-height: 100%;
	overflow: hidden;
	border:1px solid #eaeaea;
	border-radius: 4px;
}

.search-categories h5{
	font-size: 12px;
	color:#ffffff;
	text-align: center;
	padding:10px;
	background-color: #3e474f;
}

.search-categories li{
	font-size: 12px;
	border-bottom:1px solid #eaeaea;
}

.search-categories li a svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin-left: 10px;
}

.bottom-header{background-color: #3e474f;}

.navigation a.close,
.navigation .menu-title{display: none;}

.navigation > ul > li{
	display: inline-block;
	margin: 0 15px;
}

.navigation > ul > li > a{
	display: block;
	font-size: 13px;
	color:#b2bbbd;
	padding:15px 0 12px 0;
}

.navigation > ul > li > a:hover{color:#ffffff;}

.navigation > ul > li > a svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	margin-left: 10px;
}

.megamenu{
	position:absolute;
	top:auto;
	right:0;
	width: 100%;
	text-align: right;
	padding:0 15px;
	visibility: hidden;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #ffffff;
	background-size: cover;
	border-top:none;
	border-radius: 0 0 4px 4px;
	z-index: 9999;
	-webkit-box-shadow: 0 0 15px #3e474f;
	-moz-box-shadow: 0 0 15px #3e474f;
	box-shadow: 0 0 15px #3e474f;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.navigation > ul > li:hover .megamenu{
	-webkit-animation: popUp .25s ease-in-out .4s;
	-moz-animation: popUp .25s ease-in-out .4s;
	animation: popUp .25s ease-in-out .4s;
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	transition-delay: .4s;
}

@keyframes popUp {
	0%{opacity: 0;}
	20%{opacity: .2;}
	40%{opacity: .4;}
	60%{opacity: .6;}
	80%{opacity: .8;}
	100%{opacity: 1;}
}

.menu-box{
	display: inline-block;
	vertical-align: top;
	min-height: 400px;
	text-align: center;
	padding:25px 15px;
}

.menu-box h5{
	font-size: 14px;
	color:#3079AB;
	padding:7px 15px;
	margin-bottom: 20px;
}

.menu-box li{margin:10px 0;}
.menu-box li a:hover{text-shadow: 0 0 1px #babfc3;}

.captcha img{
	display: inline-block;
	vertical-align: middle;
	width:150px;
	margin:10px 0;
	border:1px solid #3e474f;
	border-radius: 4px;
}

.refresh-captcha{
	display: inline-block;
	vertical-align: middle;
	width:30px;
	height: 30px;
	line-height: 32px;
	color:#ffffff;
	text-align: center;
	background-color: #3e474f;
	border-radius: 3px;
}
.refresh-captcha:hover{color:#5cb860;}

.off-price{
	font-size: 14px !important;
	text-decoration: line-through;
}

.price-box strong{
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	margin:10px 5px;
}

.price-box span{direction: ltr;}

.countdown-box-wrapper{
	position: absolute;
	bottom:-9px;
	left:0;
	width: 100%;
	overflow:hidden;
	z-index: 999;
	border-radius: 0 0 4px 4px;
}

.countdown-box{
	float: left;
	width: 25%;
	height: 85px;
	text-align: center;
	background-color: #242b31;
	border-left:1px solid #2f363e;
}

.countdown-box:nth-child(4n+1){border-left: none;}

.countdown-box span{
	display: block;
	width: 100%;
	font-family: 'Iran-Medium';
	font-size: 28px;
	color:#ffffff;
	padding-top:15px;
}

.countdown-box h6{
	font-family: 'Iran';
	font-size: 13px;
	color:#3079AB;
	margin-top:-5px;
}

.post-items li a{
	position: relative;
	display: block;
	min-height: 70px;
	font-size: 12px;
	padding:10px 95px 10px 10px;
	border-bottom:1px solid #aeaeae;
}
.post-items li:last-child a{border-bottom:none;}

.post-items li a:hover{color:#3079AB;}

.post-items li img{
	position: absolute;
	top:10px;
	right:10px;
	width: 75px !important;
	height: 50px !important;
	border-radius: 3px;
}

.post-items li p{padding-top:0;}

.ads img{border-radius: 4px;}

.product-items a,
.similiar-products a{
	position: relative;
	display: block;
	overflow:hidden;
	color:#3e474f;
	text-align: center;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 15px #cacaca;
	-moz-box-shadow: 0 0 15px #cacaca;
	box-shadow: 0 0 15px #cacaca;
	border-radius: 4px;
}

.product-items a:hover,
.similiar-products a:hover{
	-webkit-box-shadow:0 0 15px #a1a1a1;
	-moz-box-shadow:0 0 15px #a1a1a1;
	box-shadow:0 0 15px #a1a1a1;
}

.item.installment a::before,
.product-box.installment::before,
.product-price.installment::before{
	content:'نقد و اقساط';
	position: absolute;
	top:-2px;
	left:10px;
	width: 40px;
	height: 76px;
	font-size: 11px;
	color:#232323;
	text-align: center;
	padding-top:37px;
	background: url('../images/icons/ribbon-yellow.png') no-repeat center;
	z-index: 100;
}

.item.sale a::after,
.product-box.sale::after,
.product-price.sale::after{
	content:'تخفیف';
	position: absolute;
	top:-2px;
	right:10px;
	width: 40px;
	height: 78px;
	font-size: 11px;
	color:#ffffff;
	text-align: center;
	padding-top:45px;
	background: url('../images/icons/ribbon-green.png') no-repeat center;
	z-index: 100;
}


.product-items img{
	width: 160px !important;
	height: 160px !important;
	padding:10px;
}

.item-details{
	direction: rtl;
	text-align: center;
	padding:10px;
	background-color: #f7f7f7;
	border-top:1px solid #d3d3d3;
}

.item-details h6{
	font-family: 'Iran';
	font-size: 14px;
	margin-bottom:7px;
}

.item-details .off-price{font-size: 11px !important;}

.item-details .price-box strong{
	display: block;
	font-size: 13px;
	margin:3px 0px;
}

.product-box{
	position: relative;
	display: block;
	height: 370px;
	overflow: hidden;
	margin-bottom: 17px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 15px #cfcfcf;
	-moz-box-shadow: 0 0 15px #cfcfcf;
	box-shadow: 0 0 15px #cfcfcf;
}

.product-box:hover{
	-webkit-box-shadow: 0 0 15px #a5a5a5;
	-moz-box-shadow: 0 0 15px #a5a5a5;
	box-shadow: 0 0 15px #a5a5a5;
}

.product-box .item-details{
	background-color: transparent;
	border-top:none;
}

.product-box .item-details .price-box strong{font-size: 15px;}
.product-box .item-details .off-price{font-size: 13px !important;}

.magazine-box{
	position: relative;
	display: block;
	overflow:hidden;
	background-color: #ffffff;
	border:1px solid #3e474f;
	border-radius: 4px;
}

.magazine-image{overflow:hidden;}

.magazine-box:hover img{opacity: .9;}
.magazine-box:hover{color:#3079AB;}
.magazine-box:hover .post-stats{background-color: #e1e1e1;}

.magazine-content{padding:10px;}

.magazine-box.editors-choice::after{
	content:'';
	position: absolute;
	top:5px;
	left:5px;
	width:70px;
	height: 70px;
	background: url('../images/icons/editors-choice.png') no-repeat center;
	z-index: 10;
}

.magazine-title{
	position: relative;
	font-size: 20px;
	color:#ffffff;
	text-align: center;
	padding:10px;
	margin-bottom: 30px;
	background-color: #3e474f;
	border-radius: 4px;
}

.magazine-title::after{
	content:'';
	position: absolute;
	bottom:-6px;
	left: 50%;
	width: 14px;
	height: 14px;
	margin-left:-7px;
	background-color: inherit;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 10;
}

.ads{direction: ltr;}
.ads a{display: block;}
.ads a:hover{opacity: .9;}

.ads.carousel .owl-item{display: inline-block;}
.ads.carousel .owl-stage-outer{overflow: hidden;}
.ads.carousel .owl-dots{text-align: center;}
.ads.carousel .owl-dot{
	display: inline-block;
	width:10px;
	height: 10px;
	margin:0 3px;
	cursor: pointer;
	background-color: #eaeaea;
	border-radius: 50%;
}
.ads.carousel .owl-dot.active{background-color: #3e474f;}

.brands .owl-carousel .owl-stage-outer{padding:22px 0;}
.brands .owl-carousel .owl-nav .owl-prev,
.brands .owl-carousel .owl-nav .owl-next{
	top:0;
	width:30px !important;
	height: 100%;
	margin:0;
	border-radius: 3px;
}

.footer{
	width: 100%;
	padding:40px 0;
	background-color: #3e474f;
}

.footer-box{
	float: right;
	width:15%;
	color:#fafafa;
	min-height: 220px;
}

.footer-box:nth-child(1){width:45%;}
.footer-box:nth-child(2){width:40%;}

.sitemap{
	float: right;
	width: 47%;
	color:#b2bbbd;
	margin-left: 6%;
}

.sitemap:nth-child(2n+1){margin-left: 0;}

.sitemap h5{
	color:#3079AB;
	margin-bottom: 20px;
}

.sitemap li{margin:10px 0;}
.sitemap li a:hover{color:#ffffff;}

.newsletter label{
	color:#fafafa;
	padding:3px 0 8px 0;
}

.newsletter input{
	text-align: center;
	margin:5px 0;
	border:none;
}

.newsletter input[type="submit"],
.newsletter button{font-size: 13px;}

.footer-contact-info{
	padding-top:15px;
	margin-top:15px;
	border-top:1px solid #2f363e;
}

.tel-number{
	float: left;
	margin-top:2px;
}

.tel-number:hover{color:#3079AB;}

.symbols{direction: ltr;}
.symbols img{
	display: block;
    width: 100px;
    height: 100px !important;
    padding: 4px;
    margin: 7px 0 0 0 !important;
    cursor: pointer;
    background: #ffffff;
    border-radius: 4px;
}

.symbols img:first-child{height: 108px !important;}

.copyright{
	font-size: 12px;
	margin-top:19px !important;
}

.forgot-password-bttn{
	float: left;
	display: inline-block;
	margin-top:4px;
}

.form-wrapper h4 svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
	margin:2px 0 0 5px;
}

.top-filters ul li{float: right;}

.top-filters ul li a{
	display: block;
	padding:6.5px 10px;
	background-color: #efefef;
	border-left:1px solid #cfcfcf;
}

.top-filters ul li:first-child a{border-radius: 0 15px 15px 0;}
.top-filters ul li:last-child a{
	border-radius: 15px 0 0 15px;
	border-left: none;
}
.top-filters ul li a:hover{background-color: #f2f2f2;}

.top-filters ul li.active a{
	color:#ffffff;
	background-color: #3079AB;
}

.filter-box{
	overflow: hidden;
	margin-bottom: 15px;
	background-color: #efefef;
	border-radius: 5px;
}
.filter-box:last-child{margin-bottom: 0;}

.filter-title{
	display: block;
	font-size: 14px;
	color:#ffffff;
	padding:8px 10px 6px 10px;
	background: url('../images/assets/plus-white.png') no-repeat 10px center #3e474f;
}
.filter-title.active{
	color:#eb7728;
	background-image: url('../images/assets/minus-orange.png');
}

.filter-inner-box{padding:15px;}

.price-range{padding:20px 30px;}

.filter-items .checkbox-holder{margin:2px 0;}
.filter-items .checkbox-holder input[type="checkbox"] + label{
	font-size: 12px;
	padding-right: 27px;
}

.filter-items .checkbox-holder input[type="checkbox"] + label::before{
	top: 4px;
	right:2px;
	width: 18px;
	height: 18px;
}

.filter-items .checkbox-holder input[type="checkbox"] + label::after{right: 5px;}

.product-filters a.close,
.product-filters .menu-title{display: none;}

.product-filters a.close{
	top:12px;
	right:12px;
	border-radius: 3px;
}

#main-image-wrapper img{
	-webkit-box-shadow: 0 0 20px #eae9e9;
	-moz-box-shadow: 0 0 20px #eae9e9;
	box-shadow: 0 0 20px #eae9e9;
	border-radius: 4px;
}

.zoomContainer{
	overflow: hidden;
	border-radius: 4px;
}

#gallery{margin-top:12px;}

#gallery a{
	display: inline-block;
	width: 75px !important;
	height: 75px !important;
	overflow: hidden;
	margin-bottom: 3px;
	margin-left: 7px;
	border:1px solid #c1c1c1;
	border-radius: 3px;
}

#gallery a.active{
	border-color:#3079AB;
	-webkit-box-shadow: 0 0 9px #7a7a7a;
	-moz-box-shadow: 0 0 9px #7a7a7a;
	box-shadow: 0 0 9px #7a7a7a;
}

.product-section{
	padding:10px 0;
	border-bottom:1px solid #e7e7e7;
}
.product-section:last-child{border-bottom: none;}

.minor-info{
	display: block;
	font-size: 13px;
	color:#b2b2b2;
	margin-top:7px;
}

.product-details .star-box{
	display: inline-block;
	width: auto;
	margin:3px 0 0 0;
}

.product-things{
	font-size: 17px;
	color:#7a7a7a;
	margin-top:10px;
}

.product-things span:nth-child(1) a:hover,
.product-things span:nth-child(1) a.active{color:#e15258;}
.product-things span:nth-child(2) a:hover{color:#eb7728;}

.product-things span:not(:last-child)::after{
	content:'|';
	display: inline-block;
	vertical-align: middle;
	margin:0 15px;
}

.product-info li{margin:12px 0;}
.product-info li strong{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.product-info li span{
	display: inline-block;
	vertical-align: middle;
	width: 45px;
}

.product-info strong.available{
	color:#5cb860;
	padding:1px 25px 1px 0;
	background: url('../images/icons/success.png') no-repeat right top;
}

.product-info strong.not-available{
	color:#e15258;
	padding:1px 25px 1px 0;
	background: url('../images/icons/error.png') no-repeat right top;
}

.color-pallet input{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 25px;
	height: 25px;
	padding:0;
	cursor: pointer;
	user-select: none;
	background-repeat: no-repeat;
	background-position: center;
	border:1px solid #010101 !important;
	border-radius: 2px;
}

.color-pallet input.active{
	-webkit-box-shadow: 0 0 4px #010101;
	-moz-box-shadow: 0 0 4px #010101;
	box-shadow: 0 0 4px #010101;
}

.size-options input{display: none;}
.size-options input + label{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color:#3e474f;
	padding:3px 10px;
	margin-left: 2px;
	cursor: pointer;
	border:1px solid #3e474f;
	border-radius: 3px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.size-options input.active + label{
	color:#ffffff;
	background-color: #3079AB;
	border-color:#3079AB;
}

.product-price{
	display: inline-block;
	font-size: 33px;
	color:#ffffff;
	padding:9px 20px 6px 20px;
	background-color: #3e474f;
	border-radius: 4px;
}

.product-price.sale,
.product-price.installment{padding:10px 60px 26px 20px;}

.product-price.sale::before,
.product-price.installment::before{
	top:-1px;
	right: 10px;
}

.product-last-price{
	position: absolute;
    top: 57px;
    right: 60px;
    display: inline-block;
    font-size: 13px;
    color: #e15258;
    text-decoration: line-through;
    z-index: 10;
}

.price-difference{
	position: absolute;
    top: 57px;
    left: 10px;
    display: inline-block;
    font-size: 12px;
    color: #5cb860;
    z-index: 10;
}

.installment-info{
	position: absolute;
    top: 57px;
    right: 63px;
    display: inline-block;
    font-size: 12px;
    color: #5cb860;
    z-index: 10;
}

.quantity{
	position: relative;
	display: block;
	width: 120px !important;
	margin:auto;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

.quantity input[type=number]{-moz-appearance: textfield;}

.quantity input{
	height: 31px;
	font-size: 14px !important;
	color:#000000;
	text-align: center;
	padding:0 35px;
}

.quantity-button{
	position: absolute;
	top:0;
	right: 0;
	width: 35px;
	height: 100%;
	line-height: 34px;
	font-size: 17px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	background-color:#3079AB;
	border-left: 1px solid #e7e7e7;
	border-radius: 0 3px 3px 0;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-down{
	right:auto;
	left: 0;
	border-left: none;
	border-right: 1px solid #e7e7e7;
	border-radius: 3px 0 0 3px;
}

.quantity-button:hover{background-color: #22577c;}

.support li{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color:#3e474f;
	margin:10px 4px;
}

.support svg{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	margin-left: 7px;
}

.support a:hover{color:#3079AB;}

.share-on-socials{margin:15px 0;}

.share-on-socials a{
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin:0 1.5px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #111111;
	border-radius: 2px;
}
.share-on-socials a:hover{background-color: #3079AB;}

a.telegram-share{background-image: url('../images/icons/share-telegram.png');}
a.facebook-share{background-image: url('../images/icons/share-facebook.png');}
a.url-share{background-image: url('../images/icons/share-link.png');}

.table p{padding-top:0;}
.table svg{
	font-size: 19px;
	margin-bottom: -6px;
}

.comment-box{
	position: relative;
	margin-bottom:20px;
	background-color: #e5e5e5;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 20px #c1c1c1;
	-moz-box-shadow: 0 1px 20px #c1c1c1;
	box-shadow: 0 1px 20px #c1c1c1;
}

.comment-box:last-child{margin-bottom: 0;}

.comment-box-like-dislike{
	position: absolute;
	top: 43px;
	right: -36px;
	z-index: 99;
}

.comment-box-like-dislike .cbutton{
	display: block;
	width: 35px;
	height: 35px;
	margin: 5px 0;
	cursor: pointer;
	border:1px solid #cfcfcf;
	border-left: none;
	border-radius: 0 3px 3px 0;
}

.comment-box-info{
	position: relative;
	background-color: #3e474f;
	border-radius: 4px 4px 0 0;
}

.comment-content{
	width: 100%;
	min-height: 120px;
	line-height: 2;
	font-size: 14px;
	padding:10px 15px;
	background-color: #fefefe;
	border-radius: 0 0 5px 5px;
}

.comment-box .post-stats{
	direction: ltr;
	text-align: left;
	padding:9px 10px 7px 15px;
	margin-top:0;
	background-color: transparent;
	border-radius: 4px;
}

.comment-box .post-stats span{color:#ffffff;}
.comment-box .post-stats span::after{margin:0 10px;}

.comment-box .star-box{
	text-align: right;
	margin-bottom: -12px;
}

.comment-content p:first-child{padding-top: 0;}

span.reviewer{
	position: absolute;
	top:2px;
	right: 15px;
	display: inline-block;
	font-size: 12px;
	color:#ffffff;
	padding: 14px 40px 11px 0;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 30px;
}

span.thumbs-up{
	display: inline-block;
	font-size: 14px;
	padding: 6px 0 4px 21px;
	background: url('../images/icons/thumbs-up.png') no-repeat left 4px;
}

span.thumbs-down{
	display: inline-block;
	font-size: 14px;
	padding: 6px 0 4px 21px;
	background: url('../images/icons/thumbs-down.png') no-repeat left 8px;
}

span.date{
	display: inline-block;
	font-size: 14px;
	padding: 6px 0 4px 25px;
	background: url('../images/icons/date.png') no-repeat left 6px;
}

span.comment{
	display: inline-block;
	font-size: 14px;
	padding: 6px 0 4px 24px;
	background: url('../images/icons/comment.png') no-repeat left center;
}

.like-icon{background: url('../images/icons/like.png') no-repeat center 45% #fefefe !important;}
.dislike-icon{background: url('../images/icons/dislike.png') no-repeat center 55% #fefefe !important;}

.like-icon.active{background-image: url('../images/icons/thumbs-up.png') !important;}
.dislike-icon.active{background-image: url('../images/icons/thumbs-down.png') !important;}

.review-box,
.QtoA-box{
	position: relative;
	padding:50px 15px 15px 15px;
	background-color: #3e474f;
	border-radius: 4px;
}

.QtoA-box{border-radius: 0;}

.review-box p,
.QtoA-box p{
	position: absolute;
	left:15px;
	top:19px;
	color:#ffffff;
	padding-top:0;
}

.review-box .star-box,
.review-box input[type="submit"],
.review-box button,
.QtoA-box input[type="submit"],
.QtoA-box button, 
.question-box input[type="submit"],
.question-box button{margin-top:12px;}

.QtoA-box label{color:#ffffff !important;}
.QtoA-box .field-holder{margin-top:0;}

.review-box .star-box span{cursor: pointer;}

.product-stats{
	position: relative;
	min-height: 200px;
	padding:15px 200px 15px 15px;
	border:2px dashed #3e474f;
	border-radius: 4px;
}

.total-stars{
	position: absolute;
	top:7px;
	right: 0;
	width: 200px;
	text-align: center;
	padding:15px;
}

.product-stats h2{font-size: 60px;}
.product-stats .star-box{margin:-10px 0 20px 0;}
.product-stats .star-box span{
	width: 30px;
	height: 29px;
	background: url('../images/icons/star-big.png') no-repeat center center;
}
.product-stats .star-box span.active{background: url('../images/icons/star-big-active.png') no-repeat center center;}
.product-stats .star-box span{background: url('../images/icons/star-big-half-active.png') no-repeat center center;}

.comment-filters a{
	min-width: 110px;
    font-size: 12px;
	padding: 7px;
	margin: 0 3px;
}

.stars-stats li{
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	margin:7px 0;
	background-color: #cfcfcf;
	border-radius: 4px;
}

.stars-stats li span{
	display: block;
	height: 100%;
	font-size: 11px;
	padding:0 10px;
	background-color: #ffda44;
}

.product-tabs{
	overflow: hidden;
	border:1px solid #3e474f;
	border-radius:5px;
}

.product-tabs > ul{
	overflow: hidden;
	border-bottom: 1px solid #3e474f;
}

.product-tabs > ul li{
	float: right;
	width: 50%;
}

.product-tabs > ul li a{
	display: block;
	font-size: 20px;
	color:#3e474f;
	text-align: center;
	padding:10px;
}

.product-tabs > ul li.active a{
	color:#ffffff;
	background-color: #5cb860;
}

.product-talks{padding:40px;}

#questions{display: none;}
#questions h5 svg{margin-left: 5px;}

.comment-box.best-comment{border:1px solid #000000;}

.comment-box.best-comment .comment-box-info{
	padding-right: 55px;
	background: url('../images/icons/diamond.png') no-repeat 99% -2px #7ea500;
	border-bottom: 2px solid #364500;
}

.comment-box.best-comment .comment-box-info span.reviewer{right: 60px;}
.comment-box.best-comment .comment-box-like-dislike .cbutton{border-color:#000000;}

.comment-box.best-comment .comment-content{background: #d7e6a5;}

.questions-wrapper .comment-box{margin:25px 0 0 0;}
.questions-wrapper .comment-content{padding-bottom: 22px;}

.question-buttons{
	position: absolute;
	bottom:7px;
	left:5px;
	text-align: left;
}

.question-buttons a{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin:0 7px;
}

.comment-box-items > div{display: none;}

.other-answers{
	padding:20px 45px 20px 20px;
	border:2px solid #3e474f;
	border-top:none;
	border-radius: 0 0 4px 4px;
}

.other-answers .comment-box{margin:0 0 15px 0;}
.other-answers .comment-box:last-child{margin-bottom: 0;}

.related-blogs .magazine-box{
	direction: rtl;
	max-width: 240px; 
	margin: auto;
}

.similiar-products,
.related-blogs{
	border:1px solid #3e474f;
	border-radius: 4px;
}

.ui-selectmenu-button[aria-expanded="true"] .ui-icon{
	background-color: #3079AB;
	border-color: #3079AB;
}

.ui-selectmenu-button[aria-expanded="true"]{border-color:#3079AB;}

.installable{
	font-size: 12px;
	padding-top:9px;
}

.installable table{
	overflow: hidden;
	border-radius: 3px;
}

.table.normal-cart::before{
	content:attr(afterContent);
	position: absolute;
	top:-32px;
	right: 0;
	width: 170px;
	color:#ffffff;
	text-align: center;
	padding:7px 12px;
	background-color: #3e474f;
	border-radius: 3px 3px 0 0;
}

.table.installment-cart::before{
	content:attr(afterContent);
	position: absolute;
	top:-32px;
	right: 0;
	width: 170px;
	color:#ffffff;
	text-align: center;
	padding:7px 12px;
	background-color: #eb7728;
	border-radius: 3px 3px 0 0;
}

.table.checkout{overflow: visible;}
.table.checkout:not(:last-child){margin-bottom: 50px;}

.table.checkout table{
	overflow: hidden;
	border-radius: 3px;
}

.table.checkout td:first-child{
	color:#4a5158;
	background-color: transparent;
	border-color: #cfcfcf;
}

.table.checkout td,
.table.checkout th{
	font-size: 12px;
	text-align: center;
	padding:7px;
	border-color:#cfcfcf;
}

.table.checkout th{padding:10px;}

.checkout-box{
	position: relative;
	padding: 20px 20px 20px 155px;
}

.checkout-box > h4{
	position: absolute;
	top:auto;
	left:0;
	width: 140px !important;
	height: 32px !important;
	font-family: 'Iran';
	font-size: 13px;
	color:#ffffff;
	text-align: center;
	padding:7px 5px;
	background-color: #3079AB;
	border-radius: 3px;
}
.checkout-box > h4.is-top-fixed{background-color: #5cb860}

.checkout-box > h4::after{
	content:'';
	position: absolute;
	top:50%;
	right: -4px;
	width: 10px;
	height: 10px;
	margin-top:-5px;
	background-color: inherit;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 10;
}

.checkout-inner-box.has-edit-icon{position: relative;}

.order-details-table{font-family: 'Iran-Medium';}

.order-details-table span{
	display: inline-block;
	font-family: 'Iran';
	color: #808080;
	margin-top: 6px;
}

.promotion-row td{color: #67b83f;}

.delete{
	display: inline-block;
	width: 13px;
	height: 16px;
	background: url('../images/icons/delete.png') no-repeat center;
}

.checkmark{
	display: inline-block;
	width:20px;
	height: 20px;
	background: url('../images/icons/bullet.png') no-repeat center;
}

.remove-item{
	display: inline-block;
	width: 13px;
	height: 16px;
	margin-top:4px;
	background: url('../images/icons/delete-dark.png') no-repeat center;
}

.edit{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-top:3px;
	background: url('../images/icons/edit.png') no-repeat center;
}
.edit.white{background-image: url('../images/icons/edit-white.png');}

.invoice-checkout{
	margin-bottom: 7px;
	border:1px solid #cfcfcf;
	border-radius: 3px;
}

.invoice-checkout table td:last-child{text-align: left;}

.checkout-page .invoice-checkout,
.get-receipt{
	float: left;
	width: 100%;
	max-width: 400px;
	margin-top:-20px;
}
.get-receipt{margin-top:0;}

.coupon-row td{
	color:#67b83f;
	background-color: #e9fce8;
}

.off-row td{
	color:#e56b5a;
	background-color: #fff4f4;
}

.coupon-row span,
.off-row span{
	display: inline-block;
	direction: ltr;
	text-align: left;
}

.add-coupon input{
	font-size: 12px;
	height: 30px;
	line-height: 33px;
	padding:0 10px 0 35px;
}

.add-coupon ::-webkit-input-placeholder{font-size:11px;}
.add-coupon :-moz-placeholder{font-size:11px;}
.add-coupon ::-moz-placeholder{font-size:11px;}
.add-coupon :-ms-input-placeholder{  font-size:11px;}

.check-coupon{
	position: absolute;
	top:0;
	left:0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color:#ffffff;
	text-align: center;
	background-color:#3079AB;
	border-radius: 3px 0 0 3px;
	z-index: 10;
}
.check-coupon:hover{background-color: #22577c;}

.cart-note{
	line-height: 1.7;
	font-size: 12px;
	color:#ffffff;
	padding:10px;
	margin-bottom: 7px;
	background-color: #3e474f;
	border-radius: 3px;
}

.cart-note svg{
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
}
.cart-note span{color:#5cb860;}

.invoice-checkout table td{
	font-size: 12px;
	padding:9px;
}

input.keep-on{
	padding:0 50px;
	margin-bottom: 5px;
	background-image: url('../images/assets/arrow-left-long.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}

a.go-back{
	display: block;
	padding-right: 50px;
	padding-left: 50px;
	background-image: url('../images/assets/arrow-right-long.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}

.order-image{
	float: right;
	margin-left: 12px;
	border:1px solid #e7e7e7;
	border-radius: 2px;
}

.order-image img{
	width: 50px !important;
	height: 50px !important;
}

.order-details{text-align: right;}
.order-details h6{font-size: 12px;}
.order-details span{
	display: block;
	font-size: 12px;
	color:#6a6a6a;
	padding-top:4px;
}

.from-address-book a.bttn,
.address-book a.bttn{min-width: 200px;}

.address-box{
	position: relative;
	padding:10px 12px 10px 42px;
	margin-top:10px;
	background-color: #3e474f;
	border-radius: 4px;
}

.address-box ul li{
	color:#5cb860;
	margin:12px 0;
}

.address-box ul li strong{color:#fafafa;}

.address-box ul li svg{
	display: inline-block;
	vertical-align: middle;
	width:22px !important;
	text-align: center;
}

.address-box .edit{
	position: absolute;
	bottom:12px;
	left:12px;
}

.new-address-box{
	padding:20px;
	background-color: #f0f0f0;
	border-radius: 4px;
}

.new-address .field-holder{margin:5px 0;}

.new-address input,
.new-address .ui-selectmenu-button{
	height: 34px;
	line-height: 35px;
}
.new-address textarea{
	height: 90px;
	padding:12px;
}

.timing-table td{
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
}

.timing-table td:not(:first-child){padding:0;}

.timing-table td input{display: none;}
.timing-table td label{
	display: block;
	padding:20px 10px;
	cursor: pointer;
	user-select: none;
}

.timing-table td.not-available label{
	color:#ffffff;
	cursor: not-allowed;
	background-color: #f17479;
}

.timing-table td.available label:hover{background-color: #f7f7f7;}
.timing-table td.available.active label{background-color: #91d895;}

.shipping-box{
	position: relative;
	height: 240px;
	text-align: center;
	padding:25px 10px 0 10px;
	cursor: pointer;
	border:1px solid #3e474f;
}

.shipping-options .half-box:nth-child(2n) .shipping-box{border-radius: 4px 0 0 4px;}
.shipping-options .half-box:nth-child(2n+1) .shipping-box{
	border-left: none;
	border-radius: 0 4px 4px 0;
}

.shipping-box input{display: none;}

.shipping-box > svg{
	font-size: 50px;
	margin-bottom: 10px;
}

.shipping-box h6{font-size: 22px;}
.shipping-box ul{margin-top:15px;}
.shipping-box li{margin:5px 0;}
.shipping-box li svg{
	display: inline-block;
	vertical-align: middle;
}

.shipping-price{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
	padding:7px;
	background-color: #e7e7e7;
}

.shipping-box .fa-check-square{
    display: none;
    vertical-align: top;
    font-size: 45px;
    color:#3079AB !important;
    margin-top: -2px;
}

.shipping-box.active{background-color: #d1ecd3;}
.shipping-box.active .fa-check-square{display: inline-block;}
.shipping-box.active > svg,
.shipping-box.active h6{color:#3da742;}
.shipping-box.active .shipping-price{
	color:#ffffff;
	background-color: #3da742;
}

.checkout-page .button-holder a{
	min-height: 95px;
	font-size: 17px;
	padding:17px 15px;
}
.checkout-page .button-holder a svg{font-size: 24px;}
.checkout-page .button-holder a span{
	display: block;
	font-size: 11px;
	color:#f9f9f9;
	text-align: center;
	margin-top:5px;
}

.message-box p{line-height:2;}
.message-box p strong{color:#5cb860;}

.static-box{
	min-height: 450px;
	padding:20px 0;
}

.error-page a.bttn{padding:10.5px 25px;}

.static-sidebar li a{
	display: block;
	color:#b2bbbd;
	padding:10px 15px;
	background-color: #3e474f;
	border-bottom:1px solid #4a5158;
}
.static-sidebar li:first-child a{
	padding-top:12px;
	border-radius: 4px 4px 0 0;
}
.static-sidebar li:last-child a{
	padding-bottom:12px;
	border-bottom:none;
	border-radius: 0 0 4px 4px;
}
.static-sidebar li a:hover{color:#ffffff;}
.static-sidebar li.active a{color:#5cb860 !important;}

.accordion:not(:last-child){margin-bottom: 30px;}

.contact-desc h6{
	margin-top:19px;
	padding-top:20px;
	border-top: 1px solid #e1e1e1;
}

.contact-desc h6:first-child{border-top:none;}

.contact_form .section-wrapper .field-holder{margin:5px 0;}

.my-account{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width:150px;
	font-size: 11px;
	color:#ffffff;
	padding: 14px 45px 10px 10px;
	background-color: #3079AB;
	border-radius: 4px;
}
.my-account:hover{background-color: #22577c;}

.my-account img{
	position: absolute;
	top:50%;
	right: 10px;
	width:30px !important;
	height: 30px !important;
	margin-top:-15px;
	border-radius: 50%;
	z-index: 10;
}

.my-page-sidebar li a{
	display: block;
	color:#3e474f;
	padding:12px 7px;
	border:1px solid #3e474f;
	border-bottom:none;
}
.my-page-sidebar li:first-child a{
	padding-top:12px;
	border-radius: 4px 4px 0 0;
}
.my-page-sidebar li:last-child a{
	padding-bottom:12px;
	border-bottom:1px solid #3e474f;
	border-radius: 0 0 4px 4px;
}
.my-page-sidebar li:not(.active) a:hover{
	color:#3079AB;
	padding-right: 10px;
}

.my-page-sidebar li.active a{
	color:#ffffff;
	background-color: #3079AB;
}

.static-sidebar ul li svg,
.my-page-sidebar ul li svg{
	display: inline-block;
	vertical-align: middle;
	width:30px !important;
	font-size: 15px;
	text-align: right;
}
.static-sidebar ul li svg{width: 25px !important;}

.my-page-sidebar a.bttn{
	display: block;
	margin-bottom:5px;
}

.my-page-wrapper{
	padding:25px;
	background-color: #ffffff;
	border:1px solid #3e474f;
	border-radius: 4px;
}

.user-box{
	color:#ffffff;
	text-align: center;
	padding:20px;
	margin-bottom: 5px;
	background-color: #3e474f;
	border-radius: 4px;
}

.user-box img{
	width:120px !important;
	height: 120px !important;
	margin-bottom: 10px;
	border-radius: 50%;
}

.my-account-box ul li{margin:14px 0;}
.my-account-box ul li:first-child{margin-top:0;}
.my-account-box ul li:last-child{margin-bottom: 0;}

.my-account-box ul li > strong{
	display: inline-block;
	vertical-align: middle;
	width:130px;
	font-family: 'Iran-Medium';
	font-size: 11px;
}

.my-account-box ul li > span{
	display: inline-block;
	vertical-align: middle;
	color:#3079AB;
}

.my-account-box ul li img{
	display: inline-block;
	vertical-align: middle;
	width: 80px !important;
	height: 80px !important;
	margin:0;
	border:2px solid #3e474f;
	border-radius: 4px;
}

.my-account-box input,
.my-account-box select,
.my-account-box .ui-selectmenu-button{min-width: 220px;}

.my-account-box .radio-holder{
	display: inline-block;
	width:auto;
	margin:0 0 0 10px;
}

.my-account-box a.edit{
	position: absolute;
	top:-12px;
	left:-10px;
	z-index: 10;
}

.followers-box li{
	display: inline-block;
	vertical-align: top;
	width:126px;
	margin:10px;
	-webkit-box-shadow: 0 0 10px #cbcbcb;
	-moz-box-shadow: 0 0 10px #cbcbcb;
	box-shadow: 0 0 10px #cbcbcb;
}

.followers-box li img{border-radius: 4px 4px 0 0;}

.follower-info{
	font-size: 11px;
	color:#ffffff;
	text-align: center;
	padding:10px 5px;
	background-color: #3e474f;
	border-radius: 0 0 4px 4px;
}

.follower-info strong{
	display: block;
	margin-bottom: 5px;
}
.followers-box li a{display: block;}
.followers-box li a:hover{opacity: .9;}

.categories-box li{
	display: inline-block;
	vertical-align: top;
	width:126px;
	margin:10px;
}

.categories-box a{
	display: block;
	padding:10px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px #cbcbcb;
	-moz-box-shadow: 0 0 10px #cbcbcb;
	box-shadow: 0 0 10px #cbcbcb;
}

.categories-box li a:hover{
	-webkit-box-shadow: 0 0 10px #a5a5a5;
	-moz-box-shadow: 0 0 10px #a5a5a5;
	box-shadow: 0 0 10px #a5a5a5;
}

.brand-info{
	font-size: 11px;
	text-align: center;
	padding:10px 5px;
}

.brand-info strong{
	display: block;
	margin:10px 0 5px 0;
}

.fav-products-box li{
	display: inline-block;
	vertical-align: top;
	width:216px;
	margin:15px;
}

.fav-products-box img{padding:10px 30px;}

.fav-products-box a{
	display: block;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	box-shadow: 0 0 15px #cbcbcb;
}

.fav-products-box a:hover{
	-webkit-box-shadow: 0 0 15px #a5a5a5;
	-moz-box-shadow: 0 0 15px #a5a5a5;
	box-shadow: 0 0 15px #a5a5a5;
}

.address-book > ul > li{margin-bottom:15px;}

.address-box input[type="radio"]{display: none;}

.address-book .address-box{
	padding: 5px 60px 5px 10px;
	background-color: #ffffff;
	border:1px solid #5b626f;
}
.address-book .address-box ul li,
.address-book .address-box ul li strong{color:#4b5658;}
.address-book .address-box ul li{margin:8px 0;}

.address-box-options{
	position: absolute;
	top:0;
	right: 0;
	width:50px;
	height: 100%;
	border-left: 1px solid #5b626f;
	border-radius: 0 4px 4px 0;
	z-index: 10;
}

.address-box .address-box-options a{
	position: relative;
	bottom: auto;
	left:auto;
	display: block;
	width:100%;
	height: 33.33333333333%;
	margin:0;
	border-bottom:1px solid #5b626f;
}
.address-box .address-box-options a:last-child{border-bottom:none;}

.address-box .address-box-options a.checkmark{background-image: url('../images/icons/bullet-dark.png');}
.address-box .address-box-options a.edit{background-image: url('../images/icons/edit-dark.png');}
.address-box .address-box-options a.delete{background-image: url('../images/icons/delete-dark.png');}

.address-box .address-box-options a:not(.checkmark):hover{background-color: #dfdfdf;}

.address-box-options a.checkmark::after{
	content:'';
	position: absolute;
	top:50%;
	left:50%;
	width:10px;
	height: 10px;
	margin:-4.5px 0 0 -5px;
	opacity: 0;
	background-color: #5cb860;
	border-radius: 50%;
}

.address-book li.active .address-box{
	background-color: #3e474f;
	border:none;
}
.address-book li.active .address-box ul li{color:#5cb860;}
.address-book li.active .address-box ul li strong{color:#ffffff;}

.address-book li.active .address-box .address-box-options a.checkmark{background-image: url('../images/icons/bullet.png');}
.address-book li.active .address-box .address-box-options a.edit{background-image: url('../images/icons/edit-white.png');}
.address-book li.active .address-box .address-box-options a.delete{background-image: url('../images/icons/delete.png');}

.address-book li.active .address-box .address-box-options a:not(.checkmark):hover{background-color: #48525a;}
.address-book li.active .address-box-options a.checkmark::after{opacity: 1;}

.double-check svg{font-size: 60px;}

.order-history > ul > li:not(:last-child){margin-bottom: 20px;}
.order-history .table{border-radius: 0 0 3px 3px;}

.order-history .table tr:not(:nth-child(2)) td:last-child{border-right:none;}
.order-history .table tr:not(:nth-child(2)) td:nth-last-child(2){border-left:none;}
.order-history .table tr:not(:nth-child(2)) td:nth-last-child(-n+2){
	border-top:none;
	border-bottom:none;
}
.order-history .table tr:last-child td:nth-last-child(-n+2){border-bottom:1px solid #b5b5b5;}

.order-history .table th:not(:first-child),
.order-history .table td:not(:first-child){text-align: center;}
.order-history .table th{font-size: 10px;}
.order-history .table td{
	vertical-align: middle;
	font-size: 12px;
}

.order-history .table tr td:first-child {
    color: #4b5658;
    background-color: transparent;
    border-color: #b5b5b5;
}

.order-history .table .order-details h6{font-size: 11px;}

.track-order{
	color:#ffffff;
	text-align: center;
	padding:10px;
	margin-bottom: -1px;
	background-color: #3e474f;
	border-radius: 3px 3px 0 0;
}

.track-order li{
	position: relative;
	display: inline-block;
	font-size: 12px;
	padding-top:40px;
}

.track-order li span{
	position: absolute;
	top:3px;
	left:50%;
	display: inline-block;
	width:27px;
	height: 27px;
	margin-left: 5px;
	border:3px solid #ffffff;
	border-radius: 50%;
}
.track-order li:last-child span{margin-left: -13px;}

.track-order li:not(:last-child)::after{
	content:'';
	display: inline-block;
	vertical-align: middle;
	width:25px;
	height: 1px;
	margin:0 3px;
	background-color: #ffffff;
}

.track-order li.active span{
	background: url('../images/assets/tick-white.png') no-repeat center #5cb860;
	border-color:#5cb860;
}
.track-order li.active strong{color:#5cb860;}
.track-order li.active::after{background-color: #5cb860;}

.mag-piece{
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 22px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px #cbcbcb;
	-moz-box-shadow: 0 0 10px #cbcbcb;
	box-shadow: 0 0 10px #cbcbcb;
}

.mag-piece img{
	-webkit-transition:all .3s ease-in-out .1s;
	-moz-transition:all .3s ease-in-out .1s;
	transition:all .3s ease-in-out .1s;
}

.box-layer{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	color:#ffffff;
	opacity: 0;
	text-align: center;
	background: rgba(25,25,25, .6);
	z-index: 10;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.mag-piece:hover img{
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}

.mag-piece:hover .box-layer{opacity: 1;}

.horizontal-box {
	position: relative;
    height: 143px;
    overflow: hidden;
    padding-right:255px;
    margin-bottom: 25px;
    border:1px solid #3e474f;
    border-radius: 3px;
}

.horizontal-box-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 255px;
    height: 100%
}

.horizontal-box .section-box {
	height: 100%;
	padding:15px;
}

.horizontal-box .post-stats{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: left;
	z-index: 10;
}

.horizontal-box h6 a:hover{color:#3079AB;}
.horizontal-box img:hover{opacity: .9;} 

.specific-magazine .static-content h1{margin-top:20px !important;}

.magazine-footer .post-stats{
	float: right;
	width:auto;
	padding:9px 0;
	margin-top:0;
	background-color: transparent;
}

.magazine-footer .post-stats svg{
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
}

.post-share div{
	position: relative;
	display: inline-block;
	font-size: 13px;
	text-align: center;
	padding:7px 10px 3px 10px;
	margin-right: 3px;
	cursor: pointer;
	border:1px solid #3e474f;
	border-radius: 3px;
	-webkit-transition:all .2s ease-in-out;
 	-moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
.post-share div:hover{background-color: #f1f1f1;}

.post-share svg,
.post-share span{
	-webkit-transition:all .2s;
 	-moz-transition:all .2s;
    transition:all .2s;
}

.post-share div.active span{color:#ffffff;}

.post-share .like-mag.active{
	background-color: #5cb860;
	border-color:#5cb860;
}
.post-share .like-mag.active svg{color:#e56262;}

.post-share .share-mag.active{
	background-color: #3e474f;
	border-color:#3e474f;
}
.post-share .share-mag.active > svg{color:#eb7728;}

.share-mag ul{
	position: absolute;
	top:-53px;
	left:0;
	text-align: center;
	padding:7px;
	opacity: 0;
	visibility: hidden;
	background-color: #3e474f;
	border-radius: 3px;
	-webkit-transition:all .2s ease-in-out;
 	-moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.share-mag ul::after{
	content:'';
	position: absolute;
	bottom:-4px;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-left:-5px;
	background-color: inherit;
	border-radius: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 10;
}

.share-mag.active ul{
	top:-47px;
	opacity: 1;
	visibility: visible;
}

.share-mag ul li{display: inline-block;}

.share-mag li a{
	display: block;
	width:25px;
	line-height: 20px;
	font-size: 15px;
	padding:4px 5px 0 5px;
	background-color: #b2bbbd;
	border-radius: 3px;
}
.share-mag li a:hover{background-color: #ffffff;}

.compare > ul > li{
	position: relative;
	float: right;
	width:26%;
	margin-right: 2%;
}
.compare li.compare-titles{
	width:16%;
	margin-right: 0;
}

.compare-titles ul,
.compare-description ul{
	overflow: hidden;
	border-radius: 3px;
}

.compare-titles li{
	color:#ffffff;
	text-align: right;
	padding:10px 15px;
	background-color: #3e474f;
	border-bottom:1px solid #5b626f;
}

.compare-description li{
	color:#48525a;
	text-align: center;
	padding:10px 15px;
	background-color: #e9e9e9;
	border-bottom:1px solid #cecece;
}

.compare-titles li:last-child,
.compare-description li:last-child{border-bottom:none;}

.compare-item{
	text-align: center;
	padding:15px 15px;
	border:1px dashed #3e474f;
	border-radius: 4px;
}

.sticky-compare.is-top-fixed{
	width: 268px !important;
	-webkit-box-shadow: 0 0 10px #bfbfbf;
	-moz-box-shadow: 0 0 10px #bfbfbf;
	box-shadow: 0 0 10px #bfbfbf;
	-webkit-transform: translateX(-16px);
	-moz-transform: translateX(-16px);
    transform: translateX(-16px);
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;
	z-index: 9999;
}

.sticky-compare.is-bottomed{visibility: hidden;}

.sticky-compare.is-top-fixed img{width:100px;}
.sticky-compare.is-top-fixed h6{
	font-size: 11px;
	margin-bottom: 10px;
}

.add-compare{
	padding:15px;
	-webkit-box-shadow: 0 0 10px #b5b5b5;
	-moz-box-shadow: 0 0 10px #b5b5b5;
	box-shadow: 0 0 10px #b5b5b5;
	border-radius: 4px;
}

.tabs li{display: inline-block;}
.tabs li:first-child{margin-right: 30px;}

.tabs li a{
	position: relative;
	display: block;
	padding:7px 15px;
	background-color: #eaeaea;
	border:1px solid #3e474f;
	border-bottom:none;
	border-radius: 3px 3px 0 0;
}
.tabs li.active a{
	color:#3079AB;
	background-color: #ffffff;
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	transform:translateY(1px);
}

.insurance_form{
	padding:40px;
	border:1px solid #3e474f;
	border-radius: 4px;
}

.insurance table td{font-size: 12px;}
.insurance table th{font-size: 11px;}

.result-items.table table:not(:last-child){margin-bottom: 15px;}

.result-items.table td{
	vertical-align: middle;
	text-align: center;
	padding:7px;
}

.result-items.table td:first-child{
	background-color: transparent;
	border-color: #cfcfcf;
}

.result-items.table td .radio-holder{
	width:24px;
	margin:auto;
}

.main-section .master-slider{
	overflow: hidden;
	border-radius: 4px;
}

.category-navigation ul{padding:10px 20px;}
.category-navigation li{margin:10px 0;}
.category-navigation li a{font-size: 12px;}
.category-navigation li a:hover{color:#3079AB;}
.category-navigation ul ul{
	padding:0 10px;
	margin:15px 0;
	border-right:1px solid #3e474f;
}

/* RESPONSVE LAYOUT */

.has-sidebar .has-3-9-column > .section:nth-child(2n+1){
	float: left;
	margin-right: 2.5%;
}

.has-sidebar .has-3-9-column > .section{
	float: right;
	margin-right: 0;
}

.static-box .has-11-1-column > .section:nth-child(2n+1){
	float:left;
	margin-right: 3%;
}

.static-box .has-11-1-column > .section{
	float: right;
	margin-right: 0;
}

/*   Added Styles by Back-end   */







/*   Added Styles After Q&A   */

.choose-bank li{display: inline-block;}
.choose-bank input{display: none;}
.choose-bank img{width:70px !important;}

.choose-bank label{
	overflow:hidden;
	padding:0;
	margin:0 5px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px #cacaca;
	-moz-box-shadow: 0 0 10px #cacaca;
	box-shadow: 0 0 10px #cacaca;
	border-radius: 4px;
}

.choose-bank input:checked + label{
	-webkit-box-shadow: 0 0 10px #6a6a6a;
	-moz-box-shadow: 0 0 10px #6a6a6a;
	box-shadow: 0 0 10px #6a6a6a;
}

/* New Features */

.list-button{
	position: absolute;
	bottom:12px;
	width:36px;
	height: 36px;
	color:#ffffff;
	text-align: center;
	user-select: none;
	background-color:#212121;
	border-radius: 50%;
	z-index: 999;
}

.add-product{
	right:12px;
	line-height: 40px;
	font-size:24px;
}
.add-product:hover{background-color:#5cb860}

.remove-product{
	display:none;
	left:12px;
	line-height: 42px;
	font-size:30px;
}
.remove-product:hover{background-color:#e15258}

.remove-product.active{display:block;}

.products-list{
	position:fixed;
	top:20%;
	left:-300px;
	width:300px;
	height:60%;
	padding:10px 10px 60px 10px;
	background-color:#3e474f;
	border-radius: 0 5px 5px 0;
	z-index: 99999999999;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.products-list.active{left:0;}

.products-list-button{
	position:absolute;
	top:50%;
	right:-32px;
	color:#ffffff;
	text-align: center;
	padding:10px 6px;
	margin-top:-31px;
	background-color:#eb7728;
	border-radius: 0 4px 4px 0;
}

.products-list-button svg{
	display:block;
	font-size:18px;
}

.products-list-button span{
	display:block;
	font-size:12px;
	font-weight: bold;
	color:#121212;
	padding-top:2px;
	margin-bottom:5px;
	background-color:#ffffff;
	border-radius: 50%;
}

.inner-products-list{
	height: 100%;
	overflow-y: auto;
	padding: 5px;
	background-color: #fefefe;
	border-radius: 4px;
}

.inner-products-list button{
	position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}
.inner-products-list button:hover{background-color:#5cb860 !important;}

.products-list .table{
	font-size:12px;
	border-radius: 0;
}
.products-list table{border-collapse: separate;}
.products-list .table th{font-size:11px;}
.products-list .table th,
.products-list .table td{
	vertical-align: middle;
	padding:5px 8px;
}
.products-list .table tr td{text-align: center;}
.products-list .table tr td:first-child{
	color:#4b5658;
	text-align: right;
	background-color:#ffffff;
	border-color:#b5b5b5;
}